FORMAT: 1A
HOST: https://connection.keboola.com

# Storage API
Storage API provides an interface for sending data to Keboola Connection (KBC). The following are the most
important features of the API:
- Importing CSV data into Table Storage
- Exporting CSV data from Table Storage
- Loading arbitrary files into File Storage
- Managing tables including keys and indexes
- Managing buckets including sharing
- Managing component configurations

The CSV files interchanged with Storage must adhere to the
[RFC4180 Specification](http://tools.ietf.org/html/rfc4180) and must use the `UTF-8` encoding.
The files can be sent uncompressed or gzipped. You can find more information about working
with these files in [our manual](https://help.keboola.com/storage/tables/csv-files/).

For a list of available clients and their features, see the
[Developers Documentation](https://developers.keboola.com/integrate/storage/).
In it you will also find more complex examples of
[working with the API](https://developers.keboola.com/integrate/storage/api/).
This documentation assumes that you are already familiar with the
[Keboola Connection Storage component](https://help.keboola.com/storage/).

## HTTP Response Codes
The response from Storage API will have an
[HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) that will help
you determine if the request was successful. In case of an error, the HTTP status code
will help you determine the cause of the error. The status codes used by Storage API are
listed in the below tables.

### Success responses

<table>
    <tr>
        <td>200 <code>OK</code></td>
        <td>The request was successful.</td>
    </tr>
    <tr>
        <td>201 <code>Created</code></td>
        <td>The request was successful and a new resource was created.</td>
    </tr>
    <tr>
        <td>202 <code>Accepted</code></td>
        <td>Used for <a href='#introduction/synchronous-and-asynchronous-calls'>Asynchronous tasks</a>. A job resource is returned. The actual result must be obtained in another API call.</td>
    </tr>
    <tr>
        <td>204 <code>No Content</code></td>
        <td>The request was successful but there is nothing to return. Usually used as a response of DELETE requests.</td>
    </tr>
</table>

### Error responses
<table>
    <tr>
        <td>400 <code>Bad Request</code></td>
        <td>The request was invalid. Usually caused by invalid input data (missing arguments, invalid arguments values, etc.). The cause of the error is described in the response.</td>
    </tr>
    <tr>
        <td>401 <code>Unauthorized</code></td>
        <td>Authentication failed.</td>
    </tr>
    <tr>
        <td>403 <code>Forbidden</code></td>
        <td>You don't have access to the resource.</td>
    </tr>
    <tr>
        <td>404 <code>Not Found</code></td>
        <td>You're asking for something that doesn't exist.</td>
    </tr>
    <tr>
        <td>500 <code>Internal Server Error</code></td>
        <td>Something went wrong. We are sorry, it is our fault and we will make our best to fix it! Feel free to <a href='mailto:suppor@keboola.com'>send us a ticket.</a></td>
    </tr>
    <tr>
        <td>503 <code>Temporary Unavailable</code></td>
        <td>This response is typically returned when the system is under maintenance.
            The maintenance reason and expected maintenance end time are also returned in the response.
        </td>
    </tr>
</table>


## Authentication
Authentication is done via Storage API **Token**. There are multiple options
for [obtaining a Storage API Token](https://help.keboola.com/storage/tokens/).
The token must be sent as a value of the `X-StorageApi-Token` HTTP header with each API call.

Most API calls work within a *KBC Project*. The project is always derived from the token used for the API call.
So the token includes both authentication and authorization to a single project.

## Synchronous and Asynchronous Calls
Calls that represent potentially long-running actions are performed asynchronously.
These are for example: loading table data, snapshotting, exporting table data, table structure modifications, etc.
All asynchronous calls return the HTTP Response code `202` and a [Job Resource](#reference/jobs).
To obtain the actual result of the call, you have to monitor the job status by
[polling the Job Resource URL](https://developers.keboola.com/integrate/storage/api/import-export/#python-example).

## Partial Response
Some API calls that list objects are returning related resources by default. For example,
the [table list](#reference/tables/create-or-list-tables/tables-in-bucket) also returns
the table bucket properties and table attributes. You can use the `include` parameter
to return only the required resources in the response.

# Group Maintenance

## Maintenance Response Example [/v2/storage/]

### Example [GET]
In case the system, or a project is under maintenance, you will receive a response similar to the below one.
Maintenance typically applies to a single project, for example due to migration. Be sure to use the `Retry-After` header
when accessing the API programatically.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 503
    + Headers

            Content-type: application/json
            Retry-After: 559

    + Body

            {
                "status":"maintenance",
                "estimatedEndTime":"2013-05-25T10:30:44+02:00",
                "reason":"Thesystemisdownformaintenance",
            }


# Group Tokens and Permissions
When joining a project, each project administrator is assigned a [*master* token](https://help.keboola.com/storage/tokens/),
which enables them to create other tokens with limited privileges for buckets and components.

## Tokens Collection [/v2/storage/tokens]
### List all tokens [GET]
Lists all tokens in the project.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            [
                {
                    "id": "38",
                    "token": "9eabdd51eaab4040f952e0e6ae6eff03",
                    "description": "",
                    "created": "2012-11-13T16:49:28+0100",
                    "refreshed": "2017-11-13T16:48:28+0100",
                    "uri": "https://connection.keboola.com/v2/storage/tokens/38",
                    "isMasterToken": true,
                    "canManageBuckets": true,
                    "canManageTokens": false,
                    "canReadAllFileUploads": false,
                    "canPurgeTrash": false,
                    "canUseDirectAccess": false,
                    "expires": null,
                    "isExpired": false,
                    "isDisabled": false,
                    "dailyCapacity": 5,
                    "bucketPermissions": {
                        "in.c-main": "manage",
                        "out.c-main": "manage",
                        "in.c-ga": "manage"
                    },
                    "admin": {
                        "id": 124,
                        "name": "John Doe",
                        "role": "admin"
                    }
                },
                {
                    "id": "40",
                    "token": "68ab920b621f159f72dcce4ae39a9a0d",
                    "description": "",
                    "created": "2012-11-13T16:49:28+0100",
                    "refreshed": "2017-11-13T16:48:28+0100",
                    "uri": "https://connection-devel.keboola.com/v2/storage/tokens/40",
                    "isMasterToken": false,
                    "canManageBuckets": false,
                    "canManageTokens": false,
                    "canReadAllFileUploads": false,
                    "canPurgeTrash": false,
                    "canUseDirectAccess": false,
                    "expires": null,
                    "isExpired": false,
                    "isDisabled": false,
                    "dailyCapacity": 5,
                    "creatorToken": {
                        "id": 1,
                        "description": "dev@keboola.com"
                    },
                    "bucketPermissions": {
                        "in.c-main": "read"
                    },
                    "componentAccess": [
                        "someComponentName"
                    ]
                }
            ]

### Create token [POST]
Creates a new token in the project. Note that it is not possible to create a new master token.

If your admin token does not have `canManageTokens` permission, you can only create temporary token with minimal privileges.
In this case, you are allowed to set the `description` and token expiration via `expiresIn` (required) parameter. All other attributes will be ignored.

+ Attributes
    + description (optional) - Token description
    + bucketPermissions[{id_bucket}] (optional) - Permissions for a bucket. Available permissions: `read`, `write`.
    + componentAccess[] (optional) - Grants access for component configurations. Allowed
    values are [valid component IDs](#reference/miscellaneous/api-index/get).
    + canManageBuckets (optional, boolean) - Allows full access to all buckets including newly created buckets.
    Overrides `bucketPermissions` settings.
        + Default: false
    + canReadAllFileUploads (optional, boolean) - Allows access to all file uploads. When set to false,
    only files uploaded by the current token are accessible.
        + Default: false
    + canPurgeTrash (optional, boolean) - Allows permanently remove deleted configurations.
        + Default: false
    + expiresIn (optional, number) - Number of seconds until the token expires. If not provided, the token never expires.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            description=my-new-token&bucketPermissions[in.c-main]=read&componentAccess[]=keboola.ex-db-mysql&expiresIn=60

+ Response 201 (application/json)
    + Body

            {
                "id": "484",
                "token": "75-12d4bfa4995694a1c956e7bb1eea0df5cc53acdb",
                "created": "2017-11-13T16:48:28+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "description": "my-new-token",
                "uri": "https://connection.keboola.com/v2/storage/tokens/484",
                "isMasterToken": false,
                "canManageBuckets": false,
                "canManageTokens": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "canUseDirectAccess": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "bucketPermissions": {
                    "in.c-main": "read"
                },
                "componentAccess": [
                    "keboola.ex-db-mysql"
                ],
                "expires": "2012-11-13T16:49:28+0100",
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5
            }

## Token [/v2/storage/tokens/{id_token}]
### Token detail [GET]
Returns all properties of a token. You can obtain the Token Id, for example, using
the [Verify call](#reference/tokens-and-permissions/token/token-verification).

+ Parameters
    + id_token (required, number) - Token Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "id": "44",
                "token": "bdc4ce6a0ea85a2f4313b5b0b1800df3",
                "description": "",
                "created": "2017-11-13T16:48:28+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "uri": "https://connection-devel.keboola.com/v2/storage/tokens/44",
                "isMasterToken": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "canUseDirectAccess": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "bucketPermissions": [],
                "owner": {
                    "name": "Buckets 5",
                    "id": "58"
                }
            }


### Update Token [PUT]
Updates Token properties. Beware that all current bucket permissions are replaced. If you want to add new
bucket permissions, don't forget to specify the previous permissions.

+ Attributes
    + description (required) - Token description
    + bucketPermissions[{id_bucket}] (optional) - Permissions for the bucket. Available permissions: `read`, `write`.
    + componentAccess[] (optional) - Grants access for component configurations. Allowed
    values are [valid component IDs](#reference/miscellaneous/api-index/get).
    + canReadAllFileUploads (optional, boolean) - Allows access to all file uploads. When set to false,
    only files uploaded by the current token are accessible.
        + Default: false
    + canPurgeTrash (optional, boolean) - Allows permanently remove deleted configurations.
        + Default: false

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            description=New Description&bucketPermissions[in.c-main]=write

+ Response 200 (application/json)
    + Body

            {
                "id": "67319",
                "token": "578-67319-460300c259ec3fcba4b95d1d5c14a8419268bc2b",
                "created": "2017-02-13T10:27:50+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "description": "new-description",
                "uri": "https://connection.keboola.com/v2/storage/tokens/67319",
                "isMasterToken": false,
                "canManageBuckets": false,
                "canManageTokens": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "canUseDirectAccess": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 27978,
                    "description": "ondrej.popelka@keboola.com"
                },
                "componentAccess": [],
                "bucketPermissions": {
                    "in.c-main": "write"
                }
            }

## Token Verification [/v2/storage/tokens/verify]
### Token verification [GET]
Checks the token privileges and returns information about the project to which the token belongs (`owner`)
and the associated administrator (`admin`). If the project is configured with pay as you go billing, `payAsYouGo` section with details is available under `owner` info. This call can be executed by all tokens.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "id": "44",
                "token": "your_token",
                "description": "",
                "created": "2017-02-13T10:27:50+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "uri": "https://connection-devel.keboola.com/v2/storage/tokens/44",
                "isMasterToken": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "canUseDirectAccess": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "bucketPermissions": [],
                "componentPermissions": [],
                "owner": {
                    "name": "Buckets 5",
                    "id": "58",
                    "limits": {
                            "components.jobsParallelism": {
                                "name": "components.jobsParallelism",
                                "value": 10
                            },
                            "goodData.dataSizeBytes": {
                                "name": "goodData.dataSizeBytes",
                                "value": 1000000000
                            },
                            "goodData.demoTokenEnabled": {
                                "name": "goodData.demoTokenEnabled",
                                "value": 1
                            },
                            "goodData.prodTokenEnabled": {
                                "name": "goodData.prodTokenEnabled",
                                "value": 1
                            },
                            "goodData.usersCount": {
                                "name": "goodData.usersCount",
                                "value": 30
                            },
                            "kbc.adminsCount": {
                                "name": "kbc.adminsCount",
                                "value": 10
                            },
                            "kbc.extractorsCount": {
                                "name": "kbc.extractorsCount",
                                "value": 0
                            },
                            "kbc.writersCount": {
                                "name": "kbc.writersCount",
                                "value": 0
                            },
                            "orchestrations.count": {
                                "name": "orchestrations.count",
                                "value": 10
                            },
                            "storage.dataSizeBytes": {
                                "name": "storage.dataSizeBytes",
                                "value": 50000000000
                            },
                            "storage.jobsParallelism": {
                                "name": "storage.jobsParallelism",
                                "value": 10
                            }
                        },
                        "metrics": {
                            "goodData.dataSizeBytes": {
                                "name": "goodData.dataSizeBytes",
                                "value": 3589276
                            },
                            "goodData.rowsCount": {
                                "name": "goodData.rowsCount",
                                "value": 23898
                            },
                            "goodData.usersCount": {
                                "name": "goodData.usersCount",
                                "value": 0
                            },
                            "storage.dataSizeBytes": {
                                "name": "storage.dataSizeBytes",
                                "value": 3019882496
                            },
                            "storage.rowsCount": {
                                "name": "storage.rowsCount",
                                "value": 3316230
                            }
                        },
                        "payAsYouGo": {
                            "purchasedCredits": 123
                        }
                }
            }

## Share Token [/v2/storage/tokens/{token_id}/share]
### Share Token [POST]
Use this call whenever you want to securely deliver a token to someone. The link to the token retrieval page will be sent to the
provided email address. The link will expire in 2 hours.

+ Parameters
    + token_id (required, number) - Token Id

+ Attributes
    + recipientEmail (required) - Recipient's email address
    + message (required) - Message for the token recipient

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            recipientEmail=martin@keboola.com&message=Hi

+ Response 204

## Token Refresh [/v2/storage/tokens/{id_token}/refresh]
### Refresh Token [POST]
Use this method to generate a new token value; the old token value will become immediately invalid.
This method can be executed by all tokens.

+ Parameters
    + id_token - A valid token id. You can get it from [Verify call](#reference/tokens-and-permissions/token/token-verification).

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "id": "48",
                "token": "new_token",
                "description": "Master Token",
                "created": "2017-02-13T10:27:50+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "uri": "https://connection-devel.keboola.com/v2/storage/tokens/id_token",
                "isMasterToken": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "canUseDirectAccess": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "bucketPermissions": {
                    "in.c-main": "manage",
                    "out.c-main": "manage",
                    "in.c-twitter": "manage"
                }
            }

# Group Miscellaneous

## API Index [/v2/storage]

### Component List [GET /v2/storage?exclude={exclude}]

Use this API call to obtain definitions of all components, services and stack features available in KBC. For more information about
the KBC Component architecture, see the [Developers documentation](https://developers.keboola.com/overview/).

- `?exclude=components` - the `components` field won't be present in a response
- `?exclude=componentDetails` - the `components` field will include only `id`, `name`, `type` and
`ico64` properties for each component

+ Parameters
    + exclude (optional, enum[string]) - Comma-separated list of resources or parts to exclude from response
        + Members
            + components
            + componentDetails

+ Response 200 (application/json)
    + Body

            {
                "api": "storage",
                "documentation": "http://docs.keboola.apiary.io/",
                "version": "v2",
                "components": [
                    {
                        "id": "orchestrator-2",
                        "uri": "https://orchestrator-2.keboola.com/"
                    },
                    {
                        "id": "transformation",
                        "uri": "https://transformation.keboola.com/"
                    }
                ],
                "services": [
                    {
                        "id": "docker-runner",
                        "url": "https:\/\/docker-runner.keboola.com"
                    },
                    {
                        "id": "import",
                        "url": "https:\/\/import.keboola.com"
                    },
                    {
                        "id": "syrup",
                        "url": "https:\/\/syrup.keboola.com"
                    }
                ],
                "features": [
                    "disable-sync-import-data"
                ],
                "urlTemplates": {
                    "orchestrationJob": "\/admin\/projects\/&&projectId&&\/orchestrations\/&&orchestrationId&&\/jobs\/&&jobId&&"
                }
            }

# Group Buckets
[Buckets](https://help.keboola.com/storage/buckets/) are containers for one or more data tables.
Access to buckets can be limited by access tokens. Each bucket has a *backend* in which all tables are created:
- Snowlake (default)
- Redshift

## Create or List Buckets [/v2/storage/buckets]
### List all buckets [GET /v2/storage/buckets?include={include}]

All buckets with their attributes are returned.

+ Parameters
    + include (optional) - Comma-separated list of resources to include for each table. Available resources: 'attributes, metadata, linkedBuckets'.
        + Default: 'attributes'

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            [
                {
                    "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-main",
                    "id": "in.c-main",
                    "name": "c-main",
                    "displayName": "main",
                    "stage": "in",
                    "description": "Main user storage",
                    "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-main/tables",
                    "backend": "snowflake"
                    "linkedBy": [
                        {
                            "id": "in.c-linked-bucket",
                            "created": "2017-02-13T12:01:05+0100",
                            "project": {
                                "id": 321,
                                "name": "Some Project"
                            }
                        }, {
                            "id": "in.c-another-linked-bucket",
                            "created": "2017-02-13T12:01:05+0100",
                            "project": {
                                "id": 322,
                                "name": "Some Other Project"
                            }
                        }
                    ]
                },
                {
                    "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-organizationData",
                    "id": "in.c-organizationData",
                    "name": "c-organizationData",
                    "displayName": "organization",
                    "stage": "in",
                    "description": "Source bucket description",
                    "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-organizationData/tables",
                    "backend": "snowflake",
                    "isReadonly": true,
                    "sourceBucket": {
                        "id": "in.c-main",
                        "name": "c-main",
                        "description": "Organization shared data"
                        "project": {
                            "id": 123,
                            "name": "Project name"
                        }
                    }
                }
            ]

### Create Bucket [POST]
Using this API call, you can either create a new bucket in the project, or you can link an
existing bucket from another project (see below).

+ Attributes
    + name (required) - New bucket name; only alphanumeric characters and underscores are allowed.
    + stage (optional, enum[string]) - Assigns the bucket to one of the stages.
        + Members
            + in
            + out
        + Default: in
    + description (optional) - Bucket description.
    + backend (optional, enum[string]) - Bucket backend type; the default value is determined by the project settings.
        + Members
            + snowflake
            + redshift
    + displayName (optional) - Bucket displayName, this name is displayed in UI and can be changed anytime; only alphanumeric characters,underscores and dashes are allowed.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            name=my-new-bucket&stage=in&description=Some Description

+ Response 201 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-my-new-bucket",
                "id": "in.c-my-new-bucket",
                "name": "c-my-new-bucket",
                "displayName": "my-new-bucket",
                "stage": "in",
                "description": "Some Description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-my-new-bucket/tables",
                "created": "2017-02-13T12:01:05+0100",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "sharing": null,
                "directAccessEnabled": false,
                "directAccessSchemaName": null,
                "attributes": []
            }

### Link Shared Bucket [POST]
Use this API call to create a new bucket which contains contents of a
[shared bucket](https://help.keboola.com/storage/buckets/sharing/) in a source project.
Linking a bucket from another project is only possible if it has been
[enabled](#reference/buckets/bucket-sharing/share-bucket) in the source project.

+ Attributes
    + name (required) - New bucket name; only alphanumeric characters and underscores are allowed.
    + sourceProjectId (required, number) - Id of the source project from which the bucket is being shared
    + sourceBucketId (required) - Id of the bucket being shared
    + stage (optional, enum[string]) - Assigns the bucket to one of the stages.
        + Members
            + in
            + out
        + Default: in

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            name=organizationData&stage=in&sourceProjectId=123&sourceBucketId=in.c-shared-bucket

+ Response 201 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-organizationData",
                "id": "in.c-organizationData",
                "name": "c-organizationData",
                "displayName": "organizationData",
                "stage": "in",
                "description": "Source bucket description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-organizationData/tables",
                "backend": "snowflake",
                "isReadonly": true,
                "sourceBucket": {
                    "id": "in.c-shared-bucket",
                    "name": "c-shared-bucket",
                    "description": "Organization shared data"
                    "project": {
                        "id": 123,
                        "name": "Project name"
                    }
                }
            }

## Manage Bucket [/v2/storage/buckets/{bucket_id}]
### Bucket Detail [GET]
Obtains information about a bucket.

+ Parameters
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-ga",
                "id": "in.c-ga",
                "name": "c-ga",
                "displayName": "ga",
                "stage": "in",
                "description": "Google Analytics",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-ga/tables",
                "backend": "snowflake",
                "linkedBy": [
                    {
                        "id": "in.c-linked-bucket",
                        "created": "2017-02-13T12:01:05+0100",
                        "project": {
                            "id": 321,
                            "name": "Some Project"
                        }
                    }, {
                        "id": "in.c-another-linked-bucket",
                        "created": "2017-02-13T12:01:05+0100",
                        "project": {
                            "id": 322,
                            "name": "Some Other Project"
                        }
                    }
                ]
            }

### Bucket Update [PUT /v2/storage/buckets/{bucket_id}/?async={async}]
Update an existing bucket

+ Parameters
    + bucket_id (required) - Bucket Id
    + async (optional, boolean) - Updates the bucket in a background job. This is useful if updates takes too much time and times out.

+ Attributes
    + displayName (required, string) - Bucket displayName, this name is displayed in UI and can be changed anytime; only alphanumeric characters,underscores and dashes are allowed.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
Synchronous call response (async=false)

    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket",
                "id": "in.c-my-bucket",
                "name": "c-my-bucket",
                "displayName": "my-display-name-for-bucket",
                "stage": "in",
                "description": "Some Description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket/tables",
                "created": "2017-02-13T12:01:05+0100",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "sharing": null,
                "directAccessEnabled": false,
                "directAccessSchemaName": null
            }
+ Response 202
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)

    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketDelete",
                "operationParams": {
                    "params": {
                        "idBucket": 123,
                        "force": true
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Drop Bucket [DELETE /v2/storage/buckets/{bucket_id}/?force={force}&async={async}]
Deletes a bucket from the project. In the default mode, only empty buckets can be deleted.
Use the optional `force` parameter to delete all bucket content too.

+ Parameters
    + bucket_id (required) - Bucket Id
    + force (optional, boolean) - Drops all tables and aliases. Tables must not have any dependencies (aliases, etc.).
    + async (optional, boolean) - Drops the bucket in a background job. This is useful if dropping takes too much time and times out.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 204
Synchronous call response (async=false)
    + Body

+ Response 202
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketDelete",
                "operationParams": {
                    "params": {
                        "idBucket": 123,
                        "force": true
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

## Bucket Sharing [/v2/storage/buckets/{bucket_id}/share]


### Share Bucket [POST]
[Enables sharing](https://help.keboola.com/storage/buckets/sharing/) of a bucket. The bucket will be shared
to the entire organization to which the project belongs. It may then be shared to any project of that organization.
This operations is available only for organization administrators.


+ Parameters
    + bucket_id (required) - Bucket Id

+ Attributes
    + sharing (optional, enum[string]) - Sharing type
        + Members
            + `organization` - Bucket is shared to organization. Any organization member will be able to link to this bucket from any project within the organization.
            + `organization-project` - Bucket is shared to organization. Any member of a project within the organization will be able to link to this bucket from their project.
        + Default: organization

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 202 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket",
                "id": "in.c-my-bucket",
                "name": "c-my-bucket",
                "displayName": "my-bucket",
                "stage": "in",
                "description": "Some Description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket/tables",
                "created": "2017-02-13T12:01:05+0100",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "sharing": "organization",
                "directAccessEnabled": false,
                "directAccessSchemaName": null
            }

### Share Bucket To Organization [POST /v2/storage/buckets/{bucket_id}/share-organization]
[Enables sharing](https://help.keboola.com/storage/buckets/sharing/) or **update sharing** for this bucket within the organization.
Any organization member will be able to link to this bucket from any project within the organization.
This operations is available only for organization administrators.
+ Parameters
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 201 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket",
                "id": "in.c-my-bucket",
                "name": "c-my-bucket",
                "displayName": "my-bucket",
                "stage": "in",
                "description": "Some Description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket/tables",
                "created": "2017-02-13T12:01:05+0100",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "sharing": "organization",
                "sharingParameters": [],
                "sharedBy": {
                    "id": 5,
                    "name": "dev@keboola.com",
                    "date": "2020-02-03T14:58:29+0100"
                },
                "directAccessEnabled": false,
                "directAccessSchemaName": null
            }

### Share Bucket To Organization Project [POST /v2/storage/buckets/{bucket_id}/share-organization-project]
[Enables sharing](https://help.keboola.com/storage/buckets/sharing/) or **update sharing** for this bucket within the organization.
Any member of a project within the organization will be able to link to this bucket from their project.
This operations is available only for organization administrators.
+ Parameters
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 201 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket",
                "id": "in.c-my-bucket",
                "name": "c-my-bucket",
                "displayName": "my-bucket",
                "stage": "in",
                "description": "Some Description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket/tables",
                "created": "2017-02-13T12:01:05+0100",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "sharing": "organization-project",
                "sharingParameters": [],
                "sharedBy": {
                    "id": 5,
                    "name": "dev@keboola.com",
                    "date": "2020-02-03T14:58:29+0100"
                },
                "directAccessEnabled": false,
                "directAccessSchemaName": null
            }

### Share Bucket To Projects [POST /v2/storage/buckets/{bucket_id}/share-to-projects]
[Enables sharing](https://help.keboola.com/storage/buckets/sharing/) or **update sharing** for this bucket to a specific set of projects in the organization.
All users who are member of one of the targeted projects will be able to link to this bucket from that specific project.
This operations is available only for organization administrators.

+ Parameters
    + bucket_id (required) - Bucket Id

+ Attributes
    + targetProjectIds[] (required, array) - array of projects id

+ Request
    + Headers

            X-StorageApi-Token: your_token
    + Body

            targetProjectIds%5B0%5D=1&targetProjectIds%5B1%5D=2&targetProjectIds%5B2%5D=3

+ Response 201 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-main",
                "id": "in.c-main",
                "name": "c-main",
                "displayName": "main",
                "stage": "in",
                "description": "Main user storage",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-main/tables",
                "created": "2019-09-25T17:45:11+0200",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "sharing": "specific-project",
                "sharingParameters": {
                    "projects": [
                           {
                                   "id": 1,
                                   "name": "Project 1"
                           },
                           {
                                   "id": 2,
                                   "name": "Project 2"
                           },
                           {
                                   "id": 3,
                                   "name": "Project 3"
                           }
                    ]
                },
                "sharedBy": {
                    "id": 5,
                    "name": "dev@keboola.com",
                    "date": "2020-02-03T14:58:29+0100"
                },
                "directAccessEnabled": false,
                "directAccessSchemaName": null
            }

### Share Bucket To Users [POST /v2/storage/buckets/{bucket_id}/share-to-users]
[Enables sharing](https://help.keboola.com/storage/buckets/sharing/) or **update sharing** for this bucket to a specific set of users in the organization.
All users who are included in the targetUsers array will be able to link to this bucket.
This operations is available only for organization administrators.

+ Parameters
    + bucket_id (required) - Bucket Id

+ Attributes
    + targetUsers[] (required, array) - array of users id or user emails. Users must be member of at least one project in the organization.

+ Request
    + Headers

            X-StorageApi-Token: your_token
    + Body

            targetUsers%5B0%5D=dev%40keboola.com&targetUsers%5B1%5D=dev2%40keboola.com&targetUsers%5B2%5D=dev3%40keboola.com

+ Response 201 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-main",
                "id": "in.c-main",
                "name": "c-main",
                "displayName": "main",
                "stage": "in",
                "description": "Main user storage",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-main/tables",
                "created": "2019-09-25T17:45:11+0200",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "sharing": "specific-users",
                "sharingParameters": {
                    "users": [
                           {
                                   "id": 1,
                                   "name": "User Name",
                                   "email": "dev@keboola.com"
                           },
                           {
                                   "id": 2,
                                   "name": "User Name",
                                   "email": "dev2@keboola.com"
                           },
                           {
                                   "id": 3,
                                   "name": "User Name",
                                   "email": "dev3@keboola.com"
                           }
                    ]
                },
                "sharedBy": {
                    "id": 5,
                    "name": "dev@keboola.com",
                    "date": "2020-02-03T14:58:29+0100"
                },
                "directAccessEnabled": false,
                "directAccessSchemaName": null
            }

### Change Bucket Sharing [PUT]
Change [sharing type](https://help.keboola.com/storage/buckets/sharing/#sharing-type) of a bucket.
This operations is available only for organization administrators.


+ Parameters
    + bucket_id (required) - Bucket Id

+ Attributes
    + sharing (required, enum[string]) - Sharing type
        + Members
            + `organization` - Bucket is shared to organization. Any organization member will be able to link to this bucket from any project within the organization.
            + `organization-project` - Bucket is shared to organization. Any member of a project within the organization will be able to link to this bucket from their project.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket",
                "id": "in.c-my-bucket",
                "name": "c-my-bucket",
                "displayName": "my-bucket",
                "stage": "in",
                "description": "Some Description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket/tables",
                "created": "2017-02-13T12:01:05+0100",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "sharing": "organization",
                "sharingParameters": [],
                "sharedBy": {
                    "id": 5,
                    "name": "dev@keboola.com",
                    "date": "2020-02-03T14:58:29+0100"
                },
                "directAccessEnabled": false,
                "directAccessSchemaName": null
            }

### Stop Bucket Sharing [DELETE]
Disables sharing of a bucket. A bucket must not be linked to other projects.
To unshare an already linked bucket, you have to delete the links first - use the
[Drop Bucket](#reference/buckets/manage-bucket/drop-bucket) in the linking project.
This operations is available only for organization administrators.

+ Parameters
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 204

### Force unlink a bucket from a project  [DELETE /v2/storage/buckets/{bucket_id}/links/{linkedProjectId}?async={async}]

When bucket is shared and someone links it, it effectively prevents the owner of the data from revoking the share.
When user of the linked bucket is not responding it's a blocker. Force unlink allows you to unlink
a bucket from any project it's linked to, solving the situation.

**Note:** You may break some workflows in the project that linked the data by force unlinking the bucket.

+ Parameters
    + bucket_id (required) - Bucket Id
    + linkedProjectId (required, number) - id of project where the bucket is linked
    + async (optional, boolean) - Unlinks the bucket in a background job. This is useful if dropping takes too much time and times out.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 204
Synchronous call response (async=false)
    + Body
+ Response 202
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketForceUnlink",
                "operationParams": {
                    "params": {
                        "linkedIdBucket": 123,
                        "linkedIdProject": 321,
                        "async": true
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "roman.bracinik@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

## List Shared Buckets [/v2/storage/shared-buckets?include={include}]
Lists buckets which may be shared to the project.

### Shared buckets list [GET]

+ Parameters
    + include (optional) - Comma-separated list of resources to include for each table. Available resources: 'metadata'.
        + Default: ''

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            [
                {
                    "id": "in.c-main",
                    "name": "c-main",
                    "displayName": "main",
                    "stage": "in",
                    "description": "Organization shared data"
                    "sharing": "organization-project",
                    "created": "2020-01-12T18:28:31+0100",
                    "lastChangeDate": "2020-01-12T18:31:49+0100",
                    "dataSizeBytes": 1536,
                    "rowsCount": 32,
                    "backend": "snowflake",
                    "project": {
                        "id": 123,
                        "name": "Project name"
                    },
                    "tables": [
                        {
                            "id": "in.c-main.languages",
                            "name": "languages"
                            "displayName": "languages-display-name"
                        }
                    ],
                    "sharingParameters": [],
                    "sharedBy": {
                        "id": 5,
                        "name": "dev@keboola.com",
                        "date": "2020-02-03T14:58:29+0100"
                    }
                }
            ]

# Group Tables

## Create or List Tables [/v2/storage/buckets/{bucket_id}/tables]

### Create new table from CSV file [POST]

Creates a new table in a bucket. The CSV file must follow the [RFC 4180 Specification](https://tools.ietf.org/html/rfc4180).
More information about the requirements can be found in the [Manual](https://help.keboola.com/storage/tables/csv-files/).
Column names are extracted from the CSV file header; spaces and any other special characters in column names are
replaced with an underscore. This API call should be used only for tables which can be safely transferred in a single HTTP request; for large
tables use the [asynchronous call](#reference/tables/create-table-asynchronously/create-new-table-from-csv-file-asynchronously).

+ Parameters
    + bucket_id (required) - Bucket Id

+ Attributes
    + name (required) - New table name
    + data (required) - CSV file containing data for import. The data have to be encoded in **UTF-8**. The file can be raw or gzipped. Gzipped files must have the extension `.gz`.
    + delimiter (optional) - Field delimiter used in the CSV file. The default value is ','.  Use '\t' or type the char for the tabulator.
    + enclosure (optional) - Field enclosure used in the CSV file. The default value is '"'. (Note: you can specify either `enclosure` or `escapedBy` parameter, not both.)
    + escapedBy (optional) - Escape character used in the CSV file. The default value is an empty value - no escape character is used. (Note: you can specify either `enclosure` or `escapedBy` parameter, not both.)
    + primaryKey (optional) - Primary key of the table. If the primary key is set, updates can be done on the table. See the CSV incremental import. The primary key can be also composed by multiple columns; the columns must be separated by a comma.

+ Request (multipart/form-data)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            ------WebKitFormBoundaryqPuY88H6m4oIp6zq
            Content-Disposition: form-data; name="name"
            my_table_name
            ------WebKitFormBoundaryqPuY88H6m4oIp6zq
            Content-Disposition: form-data; name="data"; filename="my_table_name.csv"
            Content-Type: application/octet-stream
            file_content
            ------WebKitFormBoundaryqPuY88H6m4oIp6zq
            Content-Disposition: form-data; name="delimiter"
            ,
            ------WebKitFormBoundaryqPuY88H6m4oIp6zq
            Content-Disposition: form-data; name="enclosure"
            "
            ------WebKitFormBoundaryqPuY88H6m4oIp6zq--

+ Response 201 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/tables/in.c-main.languages",
                "id": "in.c-main.languages",
                "name": "languages",
                "displayName": "languages-displayName",
                "gdName": "languages",
                "created": "2012-07-23 09:51:45",
                "lastImportDate": null,
                "columns": [
                    "id",
                    "name_id",
                    "nm_id"
                ],
                "indexedColumns": [
                    "id"
                ],
                "bucket": {
                    "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-main",
                    "id": "in.c-main",
                    "name": "c-main",
                    "displayName": "main",
                    "stage": "in",
                    "description": "Main user storage",
                    "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-main/tables"
                }
            }

### Tables in bucket [GET /v2/storage/buckets/{bucket_id}/tables?include={include}]
Lists tables in a given bucket.

+ Parameters
    + bucket_id (required) - Bucket Id
    + include (optional, enum[string]) - Comma-separated list of resources to include for each table
        + Members
            + attributes
            + columns
            + metadata
            + columnMetadata
        + Default: attributes,metadata

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            [
                {
                    "uri": "https://connection.keboola.com/v2/storage/tables/in.c-keboola-ex-db-snowflake-528221294.datatypes",
                    "id": "in.c-keboola-ex-db-snowflake-528221294.datatypes",
                    "name": "datatypes",
                    "transactional": false,
                    "primaryKey": [],
                    "indexedColumns": [],
                    "created": "2019-08-12T14:36:00+0200",
                    "lastImportDate": "2019-08-12T21:16:41+0200",
                    "lastChangeDate": "2019-08-12T21:16:41+0200",
                    "rowsCount": 2,
                    "dataSizeBytes": 1024,
                    "isAlias": false,
                    "isAliasable": true,
                    "metadata": [
                        {
                            "id": "206180828",
                            "key": "KBC.createdBy.component.id",
                            "value": "keboola.ex-db-snowflake",
                            "provider": "system",
                            "timestamp": "2019-08-12T14:36:08+0200"
                        }
                    ],
                    "columnMetadata": {
                        "ID": [
                            {
                                "id": "206180838",
                                "key": "KBC.datatype.type",
                                "value": "NUMBER",
                                "provider": "keboola.ex-db-snowflake",
                                "timestamp": "2019-08-12T14:36:17+0200"
                            }
                        ]
                    }
                },
                {
                    "uri": "https://connection.keboola.com/v2/storage/tables/in.c-keboola-ex-db-snowflake-528221294.datatypes-alias",
                    "id": "in.c-keboola-ex-db-snowflake-528221294.datatypes-alias",
                    "name": "datatypes-alias",
                    "transactional": false,
                    "primaryKey": [],
                    "indexedColumns": [],
                    "created": "2019-08-14T11:43:17+0200",
                    "lastImportDate": "2019-08-12T21:16:41+0200",
                    "lastChangeDate": "2019-08-12T21:16:41+0200",
                    "rowsCount": 2,
                    "dataSizeBytes": 1024,
                    "isAlias": true,
                    "isAliasable": true,
                    "sourceTable": {
                        "id": "in.c-keboola-ex-db-snowflake-528221294.datatypes",
                        "uri": "https://connection.keboola.com/v2/storage/tables/in.c-keboola-ex-db-snowflake-528221294.datatypes",
                        "project": {
                            "id": 578,
                            "name": "Some source project"
                        },
                        "columnMetadata": {
                            "ID": [
                                {
                                    "id": "206180838",
                                    "key": "KBC.datatype.type",
                                    "value": "NUMBER",
                                    "provider": "keboola.ex-db-snowflake",
                                    "timestamp": "2019-08-12T14:36:17+0200"
                                }
                            ]
                        }
                    },
                    "aliasColumnsAutoSync": true,
                    "metadata": [],
                    "columnMetadata": []
                }
            ]

## Create Table Definition [/v2/storage/buckets/{bucket_id}/tables-definition]

### Create new table definition [POST]

**EXPERIMENTAL**

Creates a table with typed columns. *Synapse|Exasol only.*

Request is handled asynchronously which means that the create request is created and added to a queue and the job resource URL for status polling is returned.

+ Parameters
    + bucket_id (required) - The bucket Id

+ Attributes
    + name (required) - New table name
    + primaryKeysNames[] (required, string) - has to be subset of column names
    + columns[] (required) - definition of table columns
       + name (required, string) - column name
       + definition (object) - column settings
            + type (required, string) - datatype of this column, choose build in types for used backend [Exasol](https://bit.ly/3s2n4AP) [Synapse](https://bit.ly/3uZjN60)
            + length (string) - optional, default: depends on type
            + nullable (boolean) - optional, default: true
            + default (string) - optional, default value for column
    + distribution - Synapse only
        + type (required, enum[string])
            + Members
                + HASH - requires exactly one column in `distributionColumnsNames`
                + REPLICATE
                + ROUND_ROBIN
        + distributionColumnsNames[] (required) - has to be subset of column names

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "name": "my-new-table",
                "primaryKeysNames": [
                    "id"
                ],
                "columns": [
                    {
                        "name": "id",
                        "definition": {
                            "type": "INT"
                        }
                    },
                    {
                        "name": "name",
                        "definition": {
                            "type": "NVARCHAR"
                        }
                    }
                ],
                "distribution": {
                    "type": "HASH",
                    "distributionColumnsNames": [
                        "id"
                    ]
                }
            }

+ Response 202 (application/json)

        {
            "id": 356,
            "status": "waiting",
            "url": "https:\/\/localhost:8700\/v2\/storage\/jobs\/356",
            "tableId": null,
            "operationName": "tableDefinitionCreate",
            "operationParams": {
                "name": "my-new-table",
                "primaryKeysNames": [
                    "id"
                ],
                "columns": [
                    {
                        "name": "id",
                        "definition": {
                            "type": "INT",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "definition": {
                            "type": "NVARCHAR",
                            "nullable": true
                        }
                    }
                ],
                "distribution": {
                    "type": "HASH",
                    "distributionColumnsNames": [
                        "id"
                    ]
                },
                "queue": "main"
            },
            "createdTime": "2021-05-24T11:09:47+0200",
            "startTime": null,
            "endTime": null,
            "runId": "5107",
            "results": null,
            "creatorToken": {
                "id": "553",
                "description": "devel+test-backend_admin@keboola.com"
            },
            "metrics": {
                "inCompressed": false,
                "inBytes": 0,
                "inBytesUncompressed": 0,
                "outCompressed": false,
                "outBytes": 0,
                "outBytesUncompressed": 0
            }
        }


## Create Table Asynchronously [/v2/storage/buckets/{bucket_id}/tables-async]

### Create new table from CSV file asynchronously [POST]

The method of creating a table asynchronously should be used for larger imports (everything with 100 lines and more).
The create request is created and added to a queue, the job resource url for status polling is returned.
The actual data must be provided in one of the following attributes:

- `dataFileId`,
- `snapshotId`,
- `dataWorkspaceId` and `dataObject`
- `sourceTableId`

+ Parameters
    + bucket_id (required) - The bucket Id

+ Attributes
    + name (required) - New table name
    + dataFileId (optional) - Id of the file stored in [File Uploads](#reference/files)
    + snapshotId (optional) - Id of a table snapshot - a table will be created from the snapshot.
    + dataWorkspaceId (optional) - Load from the table [workspace](#reference/workspaces). Use with the **dataTableName** attribute.
    + dataTableName (optional) - (deprecated use dataObject) Load from the table in the [workspace](#reference/workspaces).
    + dataObject (optional) - Load from the table/file in the [workspace](#reference/workspaces).
    + sourceTableId (optional) - Create time travel snapshot of this table.
    + timestamp (optional) - Datetime string to be used for the time travel snapshot. Use with the **sourceTableId** attribute. The preferred format is `YYYY-MM-DD hh:mm:ss Z`, other formats may also work, but time zone is required.
    + delimiter (optional) - Field delimiter used in the CSV file. The default value is ','.  Use '\t' or type the tab char for the tabulator.
    + enclosure (optional) - Field enclosure used in the CSV file. The default value is '"'. (Note: you can specify either the `enclosure` or `escapedBy` parameter, not both.)
    + escapedBy (optional) - Escape character used in the CSV file. The default value is an empty value - no escape character is used. (Note: you can specify either the `enclosure` or `escapedBy` parameter, not both.)
    + primaryKey (optional) - Primary key of a table. If the primary key is set, updates can be done on the table. See CSV incremental import. The primary key can be also composed by multiple columns; the columns must be separated by a comma. For Synapse if single primary key is set, it's also used as distribution key, if distribution key option is empty.
    + distributionKey (optional) - (Synapse only) Distribution key of a table. If the distribution key is set, table will use HASH distribution.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            name=table_name&dataFileId=234&delimiter=%2C&enclosure=%22

+ Response 202 (application/json)

        {
            "id": 11,
            "status": "waiting",
            "url": "https://connection.keboola.com/v2/storage/jobs/11",
            "operationName": "tableCreate",
            "operationParams": {
                "params": {
                    "enclosure": "\"",
                    "delimiter": ",",
                    "escapedBy": "",
                },
                "source": {
                    "fileId": "234",
                    "type": "file"
                }
            },
            "createdTime": "2013-05-31T16:11:05+0200",
            "startTime": null,
            "endTime": null,
            "runId": null,
            "results": null,
            "creatorToken": {
                "id": "27978",
                "description": "ondrej.popelka@keboola.com"
            },
            "metrics": {
                "inCompressed": false,
                "inBytes": 0,
                "inBytesUncompressed": 0,
                "outCompressed": false,
                "outBytes": 0,
                "outBytesUncompressed": 0
            }
        }


## Load Data [/v2/storage/tables/{table_id}/import]

### Load data from csv file to prepared table [POST]

 **This method of import is DEPRECATED**, please use [asynchronous import](#reference/tables/load-data-asynchronously).

 Each CSV table should contain a header with column names; all columns present in the table must be also present in the CSV file, new columns not present in the table are created. One of the `data` and `dataString`  attributes must be provided.
 The CSV file can be raw or gzipped. Gzipped files must have the extension .gz.

+ Attributes
    + data (optional) - Multipart CSV file upload
    + dataString (optional) - CSV as a string in the request body
    + incremental (optional) - If incremental is set to 0, the target table is truncated before each import. Default is 0.
    + delimiter (optional) - Field delimiter used in the CSV file. The default value is ','.  Use '\t' or type the tab char for the tabulator.
    + enclosure (optional) - Field enclosure used in the CSV file. The default value is '"'.
    + columns[] (optional) - List of columns present in the CSV file; the first line of the file will not be treated as a header!
    + withoutHeaders (optional, boolean) - The CSV file doesn't contain headers, columns are matched by their order. If this option is used, columns option is ignored.


+ Request (multipart/form-data; boundary=----WebKitFormBoundaryU2xN082HVaIRptvd)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            ------WebKitFormBoundaryU2xN082HVaIRptvd
            Content-Disposition: form-data; name="incremental"
            0
            ------WebKitFormBoundaryU2xN082HVaIRptvd
            Content-Disposition: form-data; name="data"; filename="tw_accounts.csv"
            Content-Type: application/octet-stream
            file_content
            ------WebKitFormBoundaryU2xN082HVaIRptvd
            Content-Disposition: form-data; name="delimiter"
            ,
            ------WebKitFormBoundaryU2xN082HVaIRptvd
            Content-Disposition: form-data; name="enclosure"
            "
            ------WebKitFormBoundaryU2xN082HVaIRptvd

+ Response 200 (application/json)

            {
                "status": "ok",
                "warnings": []
            }


## Load data asynchronously [/v2/storage/tables/{table_id}/import-async]

### Import data [POST]
The method of asynchronous importing should be used for larger imports (everything with 100 lines and more).
The import request is created and added to a queue; the job resource url for status polling is returned.
Asynchronous imports requested on the same table will be serialized.

The actual data must be provided in one of the following attributes:

- **dataFileId**,
- **snapshotId**,
- **dataWorkspaceId** and **dataObject** (older "dataTableName" is deprecated)

An imported file can be sliced into multiple chunks; the conditions described in [File Uploads](#reference/files) must be satisfied.
The CSV file can be raw or gzipped. Gzipped files must have the extension `.gz`. A typical asynchronous import negotiation consists of these steps:

1. Upload a CSV file using [File Upload](#reference/files).
2. Submit an [asynchronous import request](#reference/tables/load-data-asynchronously/imports-data) with `dataFileId` set to the File Id returned in the previous step.
3. Poll job resource returned in the previous step until the `status` is `success` or `error`.

Import from table and file workspace is supported.

- For table workspace use dataWorkspaceId and set dataObject with name of source table.
- For file workspace use dataWorkspaceId and dataObject can be:
  - single file `file.csv`
  - folder `folder/` (mind the trailing slash)
  - manifest `file.csvmanifest`
- For file workspace always use `columns[]` attribute with lost of imported columns

Further information can be found in the [Developers Documentation](https://developers.keboola.com/integrate/storage/api/import-export/).

+ Parameters
    + table_id (required) - Table Id

+ Attributes
    + dataFileId (optional) - Id of the file stored in [File Uploads](#reference/files); all gzipped and sliced files are supported.
    + snapshotId (optional) - Id of a table snapshot - a table will be created from the snapshot.
    + dataWorkspaceId (optional) - Load from the table [workspace](#reference/workspaces). Use with the **dataTableName** attribute.
    + dataTableName (optional) - (deprecated use dataObject) Load from the table in the [workspace](#reference/workspaces).
    + dataObject (optional) - Load from the table/file in the [workspace](#reference/workspaces).
    + incremental (optional, number) - If incremental is set to 0, the target table is truncated before each import.
        Default: 0
    + delimiter (optional) - Field delimiter used in the CSV file. The default value is ','.  Use '\t' or type the tab char for tabulator.
    + enclosure (optional) - Field enclosure used in the CSV file. The default value is '"'. (Note: you can specify either `enclosure` or `escapedBy` parameter, not both.)
    + escapedBy (optional) - Escape character used in the CSV file. The default value is an empty value - no escape character is used. (Note: you can specify either `enclosure` or `escapedBy` parameter, not both.)
    + columns[] (optional) - List of columns present in the CSV file; the first line of the file will not be treated as a header!
    + withoutHeaders (optional) - The CSV file doesn't contain headers, columns are matched by their order. If this option is used, columns option is ignored.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            dataFileId=12345&incremental=0&delimiter=%2C&enclosure=%22

+ Response 202 (application/json)

            {
                "id": 22070846,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/22070846",
                "tableId": "in.c-main.test",
                "operationName": "tableImport",
                "operationParams": {
                    "params": {
                        "incremental": false,
                        "partial": false,
                        "transaction": null,
                        "source": [],
                        "withoutHeaders": false,
                        "columns": [],
                        "delimiter": ",",
                        "enclosure": "\""
                    },
                    "source": {
                        "fileId": "12345",
                        "type": "file"
                    },
                    "queue": "main_fast"
                },
                "createdTime": "2017-02-13T12:51:48+0100",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }


## Data Preview [/v2/storage/tables/{table_id}/data-preview/]
### Data preview [GET]

Returns up to 1000 rows from table in CSV (RFC) format. Rows can be filtered by various filters described below.
For full table download please read more in [Asynchronous Unload documentation](#reference/tables/unload-data-asynchronously).
For the description of filters, see [Asynchronous Unload documentation](#reference/tables/unload-data-asynchronously).

#### HTTP Compression

To enable compression of API response traffic, please include the following HTTP header with the API request: `Accept-encoding: gzip`.


+ Parameters
    + table_id (required) - Table Id

+ Attributes
    + limit (optional, number) - Limit the number of returned rows. Maximum allowed value is `1000`
        + Default: 100
    + changedSince (optional) - Filtering by import date - timestamp of import is stored within each row. Both until and since values can be a unix timestamp or any date accepted by [strtotime](http://www.php.net/manual/en/function.strtotime.php).
    + changedUntil (optional) - Filtering by import date - timestamp of import is stored within each row. Both until and since values can be a unix timestamp or any date accepted by [strtotime](http://www.php.net/manual/en/function.strtotime.php).
        Examples: `-2 days`, `1360138863`, `2013-02-12T15:19:21+00:00`
    + columns (optional) - Comma separated list of columns to export; by default all columns are exported.
    + whereColumn (optional) - **Deprecated** (use whereFilters instead). Column for exporting only matching rows; see more in the rows filtering section.
    + whereValues[] (optional, array) - **Deprecated** (use whereFilters instead). Values for exporting only matching rows; see more in the rows filtering section.
    + whereOperator (optional, enum[string]) - **Deprecated** (use whereFilters instead). Operator for value comparison.
        + Members
            + eq - Equals - can be used with multiple values.
            + ne - Not equals - can be used with multiple values.
        + Default: eq
    + format (optional, enum[string]) - output format of preview
        + Members
            + rfc - will returns CSV formatted output
            + json - will return JSON formatted output
        + Default: rfc
    + whereFilters[] (optional)
        + column (required) - column which should be matched
        + operator (required, enum[string]) - operator for value comparison
            + Members
                + eq - Equals - can be used with multiple values
                + ne - Not equals  - case be used with multiple values
                + gt - Greater than - Not supported for Redshift
                + ge - Greater than or equals - Not supported for Redshift
                + lt - Less than - Not supported for Redshift
                + le - Less than or equals  - Not supported for Redshift
            + Default: eq
        + values[] (required, array) - array of variables to compare
        + dataType (optional, enum[string]) - Not supported for Redshift - for comparing (`[gt|lt|le|ge]`) numeric values you have to specify data type
            + Members
                + INTEGER - for numbers without a decimal point (Snowflake)
                + DOUBLE - for number with a decimal point (Snowflake)
                + BIGINT - for number without a decimal point (Synapse)
                + REAL - for number with a decimal point (Synapse)
                + DECIMAL - for numbers (Exasol)
    + orderBy[] (optional) - Not supported for Redshift
        + column (required) - name of column used for sorting
        + order (optional, enum[string])
            + Members
                + ASC - ascending sort
                + DESC - descending sort
            + Default ASC
        + dataType (optional, enum[string]) - required when sorting by column contains numeric value
            + Members
                + INTEGER - for numbers without a decimal point (Snowflake)
                + DOUBLE - for number with a decimal point (Snowflake)
                + BIGINT - for number without a decimal point (Synapse)
                + REAL - for number with a decimal point (Synapse)
                + DECIMAL - for numbers (Exasol)
    + fulltextSearch (optional, string) - Makes fulltext search over all data in table. It cannot be combined with `whereFilters`. Snowflake/Synapse only

+ Request
    + Headers

            X-StorageApi-Token: your_token
            Accept-encoding: gzip

+ Response 200 (text/csv)
    + Headers

            Content-Encoding: gzip

    + Body

            "id","name"
            "26","czech"
            "1","english"
            "11","finnish"
            "24","french"


+ Request

    Request with &format=json.

    + Headers

            X-StorageApi-Token: your_token
            Accept-encoding: gzip

+ Response 200 (application/json)

        {
            columns: [
                "id",
                "name"
            ],
            rows: [
               [
                {
                    "columnName" : "id",
                    "value" : "26",
                    "isTruncated": false
                },
                {
                    "columnName" : "name",
                    "value" : "czech",
                    "isTruncated": false
                }
               ],
               [
                {
                    "columnName" : "id",
                    "value" : "1",
                    "isTruncated": false
                },
                {
                    "columnName" : "name",
                    "value" : "english",
                    "isTruncated": false
                }
               ],
            ]
        }

## Unload Data Asynchronously [/v2/storage/tables/{table_id}/export-async]

### Asynchronous Export [POST]
Exports data into File Storage. The Id of the created file is returned.
This task is asynchronous; Id of the created file is stored in the `results` of the created job when the job is finished.

#### Rows filtering
Exported rows can be filtered by a single filter. Examples of filtering by `userId` column:

- `whereFilters[0][column]=UserID&whereFilters[0][values][0]=123` - Single value filter is used on one column.
Equals to `UsedId = 123`.
- `whereFilters[0][column]=UserID&whereFilters[0][values][0]=123&whereFilters[0][values][1]=234` - Multiple value
filter is used on one column. Equals to `UserId IN (123,234)`.
- `whereFilters[0][column]=UserID&whereFilters[0][values][0]=123&whereFilter[0][operator]=ne` - Uses a non equals operator.
Equals to `UserId != 123`.
- `whereFilters[0][column]=Price&whereFilters[0][values][0]=40.3&whereFilters[operator]=gt&dataType=DOUBLE` - Uses greater than operator and cast value as double
Equals to `try_to_double(Price) > 40.3`.

 - For multiple filters use `whereFilters[0]...&whereFilters[1]...&whereFilters[2]...`. All filters are joined by AND expression.

#### Rows sorting
Exported rows can be sorted by multiple columns. Examples of sorting:

- `orderBy[0][column]=UserId`
Sorting ascending by column UserId.
Equals to `ORDER BY UserId ASC`.

- `orderBy[0][column]=UserId&orderBy[0][order]=DESC`
Sorting descending by column UserId.
Equals to `ORDER BY UserId DESC`.

- `orderBy[0][column]=Price&orderBy[0][order]=DESC&orderBy[0][dataType]=DOUBLE`
Sorting descending by column Price with casting column Price to DOUBLE
Equals to `ORDER BY try_to_double(Price) DESC`.

 - For multiple sort condititions use `orderBy[0]...&orderBy[1]...&orderBy[2]`.

The comparison operator essentially behaves like the [SQL IN](http://www.w3schools.com/sql/sql_in.asp) (and NOT IN) operator. That is, the
`eq` value matches if any `whereValues` match, and the `new` value matches if none `whereValues` match.

#### Caching
Asynchronous exports support internal caching. When the export file for a certain table
export parameters was created and there were no changes in the table data since, the
previous cached file will be returned.

#### Job results

The response contains a link to job results. Once the job is finished, the job result
will show information about the created file and caching:

```
    {
        "file": {
            "id": 234
        },
        "cacheHit": false
    }
```

+ Parameters
    + table_id (required) - Table Id

+ Attributes
    + limit (optional, number) - Limit the number of returned rows.
    + days (optional, number) - **DEPRECATED will be removed in the future.** It returns rows created or updated in the last X days.
    + format (optional, enum[string]) - File format
        + Members
            + rfc - According to [RFC](http://www.ietf.org/rfc/rfc4180.txt).
            + escaped - Delimited by a comma, enclosed by a double quote, special characters (e.g. new line, tab) escaped by a backslash. Each row in the CSV file is equal to one row in Storage.
            + raw - Delimited by tab, without an enclosure, special characters (e.g. new line, tab)  escaped by a backslash. Each row in the CSV file is equal to one row in Storage.
        + Default: rfc
    + changedSince (optional) - Filtering by import date - timestamp of import is stored within each row. Both until and since values can be a unix timestamp or any date accepted by [strtotime](http://www.php.net/manual/en/function.strtotime.php).
    + changedUntil (optional) - Filtering by import date - timestamp of import is stored within each row. Both until and since values can be a unix timestamp or any date accepted by [strtotime](http://www.php.net/manual/en/function.strtotime.php).
        Examples: `-2 days`, `1360138863`, `2013-02-12T15:19:21+00:00`
    + columns (optional) - Comma separated list of columns to export; by default all columns are exported.
    + whereColumn (optional) - **Deprecated** (use whereFilters instead). Column for exporting only matching rows; see more in the rows filtering section.
    + whereValues[] (optional) - **Deprecated** (use whereFilters instead). Values for exporting only matching rows; see more in the rows filtering section.
    + whereOperator (optional, enum[string]) - **Deprecated** (use whereFilters instead). Operator for value comparison.
        + Members
            + eq - Equals - can be used with multiple values.
            + ne - Not equals - can be used with multiple values.
        + Default: eq
    + whereFilters[] (optional)
        + column (required) - column which should be matched
        + operator (required, enum[string]) - operator for value comparision
            + Members
                + eq - Equals - can be used with multiple values
                + ne - Not equals  - case be used with multiple values
                + gt - Greater than - Snowflake only
                + ge - Greater than or equals - Snowflake only
                + lt - Less than - Snowflake only
                + le - Less than or equals  - Snowflake only
            + Default: eq
        + values[] (required, array) - array of variables to compare
        + dataType (optional, enum[string]) - Snowflake only - for comparing ([gt|lt|le|ge]) numeric values you have to specify data type
            + Members
                + INTEGER - for numbers without a decimal point
                + DOUBLE - for number with a decimal point
    + orderBy[] (optional) - Snowflake only
        + column (required) - name of column used for sorting
        + order (optional, enum[string])
            + Members
                + ASC - ascending sort
                + DESC - descending sort
            + Default ASC
        + dataType (optional, enum[string]) - required when sorting by column contains numeric value
            + Members
                + INTEGER - for numbers without a decimal point
                + DOUBLE - for number with a decimal point
    + gzip (optional, boolean) - The response will be gzipped if set to true.

+ Request
    + Headers

            X-StorageApi-Token: your_token
            Accept-encoding: gzip

+ Response 202 (application/json)

    + Body

            {
                "id": 22070936,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/22070936",
                "tableId": "in.c-main.test",
                "operationName": "tableExport",
                "operationParams": {
                    "export": {
                        "tableName": null,
                        "columns": [],
                        "limit": null,
                        "changedSince": null,
                        "changedUntil": null,
                        "gzipOutput": false,
                        "format": "rfc",
                        "whereFilters": []
                    },
                    "queue": "main_fast"
                },
                "createdTime": "2017-02-13T12:56:57+0100",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }


## Manage Tables [/v2/storage/tables/{table_id}]

### Table detail [GET]
Obtains information about a table.

+ Parameters
    + table_id (required) - Table Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)

            {
                "uri": "https://connection.keboola.com/v2/storage/tables/in.c-application-testing.cashier-data-alias",
                "id": "in.c-application-testing.cashier-data-alias",
                "name": "cashier-data-alias",
                "displayName": "cashier-data-alias-displayName",
                "transactional": false,
                "primaryKey": [],
                "indexedColumns": [],
                "created": "2019-08-14T16:54:06+0200",
                "lastImportDate": "2015-11-03T10:58:31+0100",
                "lastChangeDate": "2015-11-03T10:58:32+0100",
                "rowsCount": 199,
                "dataSizeBytes": 25165824,
                "isAlias": true,
                "isAliasable": true,
                "sourceTable": {
                    "id": "in.c-application-testing.cashier-data",
                    "uri": "https://connection.keboola.com/v2/storage/tables/in.c-application-testing.cashier-data",
                    "project": {
                        "id": 123,
                        "name": "Some source project"
                    },
                    "columnMetadata": {
                        "number_of_items": [
                            {
                                "id": "207947778",
                                "key": "KBC.datatype.basetype",
                                "value": "INTEGER",
                                "provider": "user",
                                "timestamp": "2019-08-14T16:55:34+0200"
                            }
                        ]
                    }
                },
                "aliasColumnsAutoSync": true,
                "columns": [
                    "time_spent_in_shop",
                    "number_of_items",
                    "customer_shoe_size",
                    "customer_age",
                    "age_segment",
                    "no_segment",
                    "customer_segment",
                    "visit_id"
                ],
                "columnMetadata": [],
                "attributes": [],
                "metadata": [],
                "bucket": {
                    "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-application-testing",
                    "id": "in.c-application-testing",
                    "name": "c-application-testing",
                    "displayName": "application-testing",
                    "stage": "in",
                    "description": "",
                    "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-application-testing/tables",
                    "created": "2015-11-03T10:54:55+0100",
                    "lastChangeDate": "2019-08-14T16:54:06+0200",
                    "isReadOnly": false,
                    "dataSizeBytes": 129427968,
                    "rowsCount": 237902,
                    "isMaintenance": false,
                    "backend": "snowflake",
                    "sharing": null,
                    "directAccessEnabled": false,
                    "directAccessSchemaName": null,
                    "metadata": []
                }
            }

### Table update [PUT /v2/storage/tables/{table_id}/?async={async}]
Update an existing table

+ Parameters
    + table_id (required) - Table Id
    + async (optional, boolean) - Updates the table in a background job. This is useful if updates takes too much time and times out.

+ Attributes
    + displayName (required, string) - Table displayName, this name is displayed in UI and can be changed anytime; only alphanumeric characters,underscores and dashes are allowed.

+ Request (application/x-www-form-urlencoded)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            displayName=updated-table-display-name

+ Response 200 (application/json)
Synchronous call response (async=false)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/tables/in.c-application-testing.cashier-data-alias",
                "id": "in.c-application-testing.cashier-data-alias",
                "name": "cashier-data-alias",
                "displayName": "my-display-name",
                "transactional": false,
                "primaryKey": [],
                "indexedColumns": [],
                "created": "2019-08-14T16:54:06+0200",
                "lastImportDate": "2015-11-03T10:58:31+0100",
                "lastChangeDate": "2015-11-03T10:58:32+0100",
                "rowsCount": 199,
                "dataSizeBytes": 25165824,
                "isAlias": true,
                "isAliasable": true,
                "sourceTable": {
                    "id": "in.c-application-testing.cashier-data",
                    "uri": "https://connection.keboola.com/v2/storage/tables/in.c-application-testing.cashier-data",
                    "project": {
                        "id": 123,
                        "name": "Some source project"
                    },
                    "columnMetadata": {
                        "number_of_items": [
                            {
                                "id": "207947778",
                                "key": "KBC.datatype.basetype",
                                "value": "INTEGER",
                                "provider": "user",
                                "timestamp": "2019-08-14T16:55:34+0200"
                            }
                        ]
                    }
                },
                "aliasColumnsAutoSync": true,
                "columns": [
                    "time_spent_in_shop",
                    "number_of_items",
                    "customer_shoe_size",
                    "customer_age",
                    "age_segment",
                    "no_segment",
                    "customer_segment",
                    "visit_id"
                ],
                "columnMetadata": [],
                "attributes": [],
                "metadata": [],
                "bucket": {
                    "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-application-testing",
                    "id": "in.c-application-testing",
                    "name": "c-application-testing",
                    "stage": "in",
                    "description": "",
                    "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-application-testing/tables",
                    "created": "2015-11-03T10:54:55+0100",
                    "lastChangeDate": "2019-08-14T16:54:06+0200",
                    "isReadOnly": false,
                    "dataSizeBytes": 129427968,
                    "rowsCount": 237902,
                    "isMaintenance": false,
                    "backend": "snowflake",
                    "sharing": null,
                    "directAccessEnabled": false,
                    "directAccessSchemaName": null,
                    "metadata": []
                }
            }
+ Response 202 (application/json)
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "tableUpdate",
                "operationParams": {
                    "values": {
                        "displayName": "updated-table-display-name"
                    },
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "roman.bracinik@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Drop table [DELETE /v2/storage/tables/{table_id}/?force={force}]
Deletes a table from Storage. In default mode, only table having any aliases can be deleted.
Use the optional `force` parameter to delete its aliases too.

+ Parameters
    + table_id (required) - Table Id
    + force (optional, boolean) - Drops the table and its aliases.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 204

## Table Optimize [/v2/storage/tables/{table_id}/optimize]

### Optimize table [POST]
This is a utility command implemented only for projects with the Redshift backend.
Redshift tables with a lot of small-increment loads bloat in size. An optimize command is automatically scheduled to fix
this issue. This API call can be used to trigger immediate optimization of a table.

+ Parameters
    + table_id (required) - Table Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)

            {
                "id": 245,
                "status": "waiting",
                "url": "/v2/storage/jobs/245",
                "tableId": "in.c-API-tests.MyLanguages_test",
                "operationName": "tableOptimize",
                "operationParams": {
                    "queue": "main_fast"
                },
                "createdTime": "2016-10-17T10:31:52+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "31",
                    "description": "dev@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }


## List Tables [/v2/storage/tables?include={include}]

### List All Tables [GET]
[...]
