FORMAT: 1A
HOST: https://connection.keboola.com

# Storage API
Storage API provides an interface for sending data to Keboola Connection (KBC). The following are the most
important features of the API:
- Importing CSV data into Table Storage
- Exporting CSV data from Table Storage
- Loading arbitrary files into File Storage
- Managing tables including keys and indexes
- Managing buckets including sharing
- Managing component configurations

The CSV files interchanged with Storage must adhere to the
[RFC4180 Specification](http://tools.ietf.org/html/rfc4180) and must use the `UTF-8` encoding.
The files can be sent uncompressed or gzipped. You can find more information about working
with these files in [our manual](https://help.keboola.com/storage/tables/csv-files/).

For a list of available clients and their features, see the
[Developers Documentation](https://developers.keboola.com/integrate/storage/).
In it you will also find more complex examples of
[working with the API](https://developers.keboola.com/integrate/storage/api/).
This documentation assumes that you are already familiar with the
[Keboola Connection Storage component](https://help.keboola.com/storage/).

## HTTP Response Codes
The response from Storage API will have an
[HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) that will help
you determine if the request was successful. In case of an error, the HTTP status code
will help you determine the cause of the error. The status codes used by Storage API are
listed in the below tables.

### Success responses

<table>
    <tr>
        <td>200 <code>OK</code></td>
        <td>The request was successful.</td>
    </tr>
    <tr>
        <td>201 <code>Created</code></td>
        <td>The request was successful and a new resource was created.</td>
    </tr>
    <tr>
        <td>202 <code>Accepted</code></td>
        <td>Used for <a href='#introduction/synchronous-and-asynchronous-calls'>Asynchronous tasks</a>. A job resource is returned. The actual result must be obtained in another API call.</td>
    </tr>
    <tr>
        <td>204 <code>No Content</code></td>
        <td>The request was successful but there is nothing to return. Usually used as a response of DELETE requests.</td>
    </tr>
</table>

### Error responses
<table>
    <tr>
        <td>400 <code>Bad Request</code></td>
        <td>The request was invalid. Usually caused by invalid input data (missing arguments, invalid arguments values, etc.). The cause of the error is described in the response.</td>
    </tr>
    <tr>
        <td>401 <code>Unauthorized</code></td>
        <td>Authentication failed.</td>
    </tr>
    <tr>
        <td>403 <code>Forbidden</code></td>
        <td>You don't have access to the resource.</td>
    </tr>
    <tr>
        <td>404 <code>Not Found</code></td>
        <td>You're asking for something that doesn't exist.</td>
    </tr>
    <tr>
        <td>500 <code>Internal Server Error</code></td>
        <td>Something went wrong. We are sorry, it is our fault and we will make our best to fix it! Feel free to <a href='mailto:suppor@keboola.com'>send us a ticket.</a></td>
    </tr>
    <tr>
        <td>503 <code>Temporary Unavailable</code></td>
        <td>This response is typically returned when the system is under maintenance.
            The maintenance reason and expected maintenance end time are also returned in the response.
        </td>
    </tr>
</table>


## Authentication
Authentication is done via Storage API **Token**. There are multiple options
for [obtaining a Storage API Token](https://help.keboola.com/storage/tokens/).
The token must be sent as a value of the `X-StorageApi-Token` HTTP header with each API call.

Most API calls work within a *KBC Project*. The project is always derived from the token used for the API call.
So the token includes both authentication and authorization to a single project.

## Synchronous and Asynchronous Calls
Calls that represent potentially long-running actions are performed asynchronously.
These are for example: loading table data, snapshotting, exporting table data, table structure modifications, etc.
All asynchronous calls return the HTTP Response code `202` and a [Job Resource](#reference/jobs).
To obtain the actual result of the call, you have to monitor the job status by
[polling the Job Resource URL](https://developers.keboola.com/integrate/storage/api/import-export/#python-example).

## Partial Response
Some API calls that list objects are returning related resources by default. For example,
the [table list](#reference/tables/create-or-list-tables/tables-in-bucket) also returns
the table bucket properties and table attributes. You can use the `include` parameter
to return only the required resources in the response.

## HTTP headers
Some API calls supports custom http headers.

Supported HTTP headers are:
- `X-StorageApi-Token (string)`: storage api authentication token
- `X-KBC-RunId (string)`: id mainly used to match component run with storage job
- `X-KBC-Backend (json string)`: header used to customize underlying backend configuration. Supported options are `context` and `size` (Supported option are different for each backend). Example: `'{"context":"custom-wlm-group","size":"XL"}'`

# Group Maintenance

## Maintenance Response Example [/v2/storage/]

### Example [GET]
In case the system, or a project is under maintenance, you will receive a response similar to the below one.
Maintenance typically applies to a single project, for example due to migration. Be sure to use the `Retry-After` header
when accessing the API programatically.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 503
    + Headers

            Content-type: application/json
            Retry-After: 559

    + Body

            {
                "status":"maintenance",
                "estimatedEndTime":"2013-05-25T10:30:44+02:00",
                "reason":"Thesystemisdownformaintenance",
            }


# Group Tokens and Permissions
When joining a project, each project administrator is assigned a [*master* token](https://help.keboola.com/storage/tokens/),
which enables them to create other tokens with limited privileges for buckets and components.

Selected of tokens endpoints can be used with `default` for `branch_id` parameter and emulate call endpoint without development branch.
It means that endpoint `GET /v2/storage/tokens/verify` is the same as `GET /v2/storage/branch/default/tokens/verify`.

## Tokens Collection [/v2/storage/tokens]
### List all tokens [GET]
Lists all tokens in the project.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            [
                {
                    "id": "38",
                    "token": "9eabdd51eaab4040f952e0e6ae6eff03",
                    "description": "",
                    "created": "2012-11-13T16:49:28+0100",
                    "refreshed": "2017-11-13T16:48:28+0100",
                    "uri": "https://connection.keboola.com/v2/storage/tokens/38",
                    "isMasterToken": true,
                    "canManageBuckets": true,
                    "canManageTokens": false,
                    "canReadAllFileUploads": false,
                    "canPurgeTrash": false,
                    "canManageProtectedDefaultBranch": false,
                    "expires": null,
                    "isExpired": false,
                    "isDisabled": false,
                    "dailyCapacity": 5,
                    "bucketPermissions": {
                        "in.c-main": "manage",
                        "out.c-main": "manage",
                        "in.c-ga": "manage"
                    },
                    "admin": {
                        "id": 124,
                        "name": "John Doe",
                        "role": "admin"
                    }
                },
                {
                    "id": "40",
                    "token": "68ab920b621f159f72dcce4ae39a9a0d",
                    "description": "",
                    "created": "2012-11-13T16:49:28+0100",
                    "refreshed": "2017-11-13T16:48:28+0100",
                    "uri": "https://connection-devel.keboola.com/v2/storage/tokens/40",
                    "isMasterToken": false,
                    "canManageBuckets": false,
                    "canManageTokens": false,
                    "canReadAllFileUploads": false,
                    "canPurgeTrash": false,
                    "canManageProtectedDefaultBranch": false,
                    "expires": null,
                    "isExpired": false,
                    "isDisabled": false,
                    "dailyCapacity": 5,
                    "creatorToken": {
                        "id": 1,
                        "description": "dev@keboola.com"
                    },
                    "bucketPermissions": {
                        "in.c-main": "read"
                    },
                    "componentAccess": [
                        "someComponentName"
                    ]
                }
            ]

### List all tokens in Development branch [GET /v2/storage/branch/{branch_id}/tokens]
Lists all tokens in the project - **same as for default branch**.

+ Parameters
    + branch_id (required, number) - Id of the development branch

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            [
                {
                    "id": "38",
                    "token": "9eabdd51eaab4040f952e0e6ae6eff03",
                    "description": "",
                    "created": "2012-11-13T16:49:28+0100",
                    "refreshed": "2017-11-13T16:48:28+0100",
                    "uri": "https://connection.keboola.com/v2/storage/tokens/38",
                    "isMasterToken": true,
                    "canManageBuckets": true,
                    "canManageTokens": false,
                    "canReadAllFileUploads": false,
                    "canPurgeTrash": false,
                    "canManageProtectedDefaultBranch": false,
                    "expires": null,
                    "isExpired": false,
                    "isDisabled": false,
                    "dailyCapacity": 5,
                    "bucketPermissions": {
                        "in.c-main": "manage",
                        "out.c-main": "manage",
                        "in.c-ga": "manage"
                    },
                    "admin": {
                        "id": 124,
                        "name": "John Doe",
                        "role": "admin"
                    }
                },
                {
                    "id": "40",
                    "token": "68ab920b621f159f72dcce4ae39a9a0d",
                    "description": "",
                    "created": "2012-11-13T16:49:28+0100",
                    "refreshed": "2017-11-13T16:48:28+0100",
                    "uri": "https://connection-devel.keboola.com/v2/storage/tokens/40",
                    "isMasterToken": false,
                    "canManageBuckets": false,
                    "canManageTokens": false,
                    "canReadAllFileUploads": false,
                    "canPurgeTrash": false,
                    "canManageProtectedDefaultBranch": false,
                    "expires": null,
                    "isExpired": false,
                    "isDisabled": false,
                    "dailyCapacity": 5,
                    "creatorToken": {
                        "id": 1,
                        "description": "dev@keboola.com"
                    },
                    "bucketPermissions": {
                        "in.c-main": "read"
                    },
                    "componentAccess": [
                        "someComponentName"
                    ]
                }
            ]

### Create token [POST]
Creates a new token in the project. Note that it is not possible to create a new master token.

If your admin token does not have `canManageTokens` permission, you can only create temporary token with minimal privileges.
In this case, you are allowed to set the `description` and token expiration via `expiresIn` parameter. All other attributes will be ignored.

+ Attributes
    + description (optional) - Token description
    + bucketPermissions[{id_bucket}] (optional) - Permissions for a bucket. Available permissions: `read`, `write`.
    + componentAccess[] (optional) - Grants access for component configurations. Allowed
    values are [valid component IDs](#reference/miscellaneous/api-index/component-list).
    + canManageBuckets (optional, boolean) - Allows full access to all buckets including newly created buckets.
    Overrides `bucketPermissions` settings.
        + Default: false
    + canReadAllFileUploads (optional, boolean) - Allows access to all file uploads. When set to false,
    only files uploaded by the current token are accessible.
        + Default: false
    + canPurgeTrash (optional, boolean) - Allows permanently remove deleted configurations.
        + Default: false
    + expiresIn (optional, number) - Number of seconds until the token expires. If not provided, the token never expires.
    + canManageProtectedDefaultBranch (optional, boolean) - [EXPERIMENTAL] If set to true, the token will have privileged access to default branch of the project. Parameter is implicitly `false` for read-only role. In addition to normal token, requests using this parameter must be authenticated using application token with scope `storage:tokens:create-protected-default-branch-privileged` as well.
    + canCreateJobs (optional, boolean) - [EXPERIMENTAL] If set to true, the token will have privileged to create token with canManageProtectedDefaultBranch. Creation of this type of token is restricted only for projects with `protected-default-branch` feature and for productionManager role.

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "description": "my-new-token",
                "bucketPermissions": {
                    "in.c-main": "read"
                },
                "componentAccess": [
                    "keboola.ex-db-mysql"
                ],
                "expiresIn": 60
            }

+ Response 201 (application/json)
    + Body

            {
                "id": "484",
                "token": "75-12d4bfa4995694a1c956e7bb1eea0df5cc53acdb",
                "created": "2017-11-13T16:48:28+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "description": "my-new-token",
                "uri": "https://connection.keboola.com/v2/storage/tokens/484",
                "isMasterToken": false,
                "canManageBuckets": false,
                "canManageTokens": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "canManageProtectedDefaultBranch": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "bucketPermissions": {
                    "in.c-main": "read"
                },
                "componentAccess": [
                    "keboola.ex-db-mysql"
                ],
                "expires": "2012-11-13T16:49:28+0100",
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5
            }

## Token [/v2/storage/tokens/{id_token}]
### Token detail [GET]
Returns all properties of a token. You can obtain the Token Id, for example, using
the [Verify call](#reference/tokens-and-permissions/token/token-verification).

+ Parameters
    + id_token (required, number) - Token Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "id": "44",
                "token": "bdc4ce6a0ea85a2f4313b5b0b1800df3",
                "description": "",
                "created": "2017-11-13T16:48:28+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "uri": "https://connection-devel.keboola.com/v2/storage/tokens/44",
                "isMasterToken": false,
                "isBYODB": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "bucketPermissions": [],
                "owner": {
                    "name": "Buckets 5",
                    "id": "58"
                },
                "adminOwner": {
                    "id": 17,
                    "name": "Username",
                    "email": "username@keboola.com"
                }
            }

### Development branch token detail [GET /v2/storage/branch/{branch_id}/tokens/{token_id}]
Returns all properties of a token - **same as for default branch**. You can obtain the Token Id, for example, using
the [Verify call](#reference/tokens-and-permissions/token/token-verification).

+ Parameters
    + branch_id (required, number) - Id of the development branch
    + token_id (required, number) - Token Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "id": "44",
                "token": "bdc4ce6a0ea85a2f4313b5b0b1800df3",
                "description": "",
                "created": "2017-11-13T16:48:28+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "uri": "https://connection-devel.keboola.com/v2/storage/tokens/44",
                "isMasterToken": false,
                "isBYODB": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "bucketPermissions": [],
                "owner": {
                    "name": "Buckets 5",
                    "id": "58"
                }
            }

### Update Token [PUT]
Updates Token properties. Beware that all current bucket permissions are replaced. If you want to add new
bucket permissions, don't forget to specify the previous permissions.

+ Attributes
    + description (required) - Token description
    + bucketPermissions[{id_bucket}] (optional) - Permissions for the bucket. Available permissions: `read`, `write`.
    + componentAccess[] (optional) - Grants access for component configurations. Allowed
    values are [valid component IDs](#reference/miscellaneous/api-index/component-list).
    + canReadAllFileUploads (optional, boolean) - Allows access to all file uploads. When set to false,
    only files uploaded by the current token are accessible.
        + Default: false
    + canPurgeTrash (optional, boolean) - Allows permanently remove deleted configurations.
        + Default: false

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "description": "New Description",
                "bucketPermissions": {
                    "in.c-main": "write"
                }
            }

+ Response 200 (application/json)
    + Body

            {
                "id": "67319",
                "token": "578-67319-460300c259ec3fcba4b95d1d5c14a8419268bc2b",
                "created": "2017-02-13T10:27:50+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "description": "new-description",
                "uri": "https://connection.keboola.com/v2/storage/tokens/67319",
                "isMasterToken": false,
                "canManageBuckets": false,
                "canManageTokens": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "canManageProtectedDefaultBranch": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 27978,
                    "description": "ondrej.popelka@keboola.com"
                },
                "componentAccess": [],
                "bucketPermissions": {
                    "in.c-main": "write"
                }
            }

### Delete Token [DELETE]
It is possible to delete only the token that is not the master token, you know that in the token detail there is `"isMasterToken": false` and the token that is not used for table triggers.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 204

## Token Verification [/v2/storage/tokens/verify]
### Token verification [GET]
Checks the token privileges and returns information about the project to which the token belongs (`owner`)
and the associated administrator (`admin`) with organization (if any). If the project is configured with pay as you go billing, `payAsYouGo` section with details is available under `owner` info. This call can be executed by all tokens.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "id": "44",
                "created": "2017-02-13T10:27:50+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "description": "",
                "uri": "https:\/\/connection.keboola.com\/v2\/storage\/tokens\/44",
                "isMasterToken": true,
                "canManageBuckets": true,
                "canManageTokens": true,
                "canReadAllFileUploads": true,
                "canPurgeTrash": true,
                "canManageProtectedDefaultBranch": false,
                "canCreateJobs": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "isBYODB": false,
                "dailyCapacity": 0,
                "token": "your_token",
                "bucketPermissions": {
                    "in.c-test": "manage",
                },
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "componentAccess": [],
                "admin": {
                    "id": 124,
                    "name": "John Doe",
                    "features": [],
                    "isOrganizationMember": true,
                    "role": "admin",
                    "isActivated": false,
                },
                "organization": {
                    "id": 123
                },
                "owner": {
                    "name": "Buckets 5",
                    "id": "58",
                    "type": "production",
                    "region": "us-east-1",
                    "created": "2022-08-18T08:47:07+0200",
                    "expires": null,
                    "features": [],
                    "dataSizeBytes": 112128,
                    "rowsCount": 1036,
                    "hasMysql": false,
                    "hasSynapse": false,
                    "hasRedshift": false,
                    "hasSnowflake": true,
                    "hasExasol": false,
                    "hasTeradata": false,
                    "hasBigquery": false,
                    "defaultBackend": "snowflake",
                    "hasTryModeOn": "0",
                    "limits": {
                       "components.jobsParallelism": {
                           "name": "components.jobsParallelism",
                           "value": 10
                       },
                       "goodData.dataSizeBytes": {
                           "name": "goodData.dataSizeBytes",
                           "value": 1000000000
                       },
                       "goodData.demoTokenEnabled": {
                           "name": "goodData.demoTokenEnabled",
                           "value": 1
                       },
                       "goodData.prodTokenEnabled": {
                           "name": "goodData.prodTokenEnabled",
                           "value": 0
                       },
                       "goodData.usersCount": {
                           "name": "goodData.usersCount",
                           "value": 30
                       },
                       "kbc.adminsCount": {
                           "name": "kbc.adminsCount",
                           "value": 10
                       },
                       "kbc.extractorsCount": {
                           "name": "kbc.extractorsCount",
                           "value": 0
                       },
                       "kbc.monthlyProjectPowerLimit": {
                           "name": "kbc.monthlyProjectPowerLimit",
                           "value": 50
                       },
                       "kbc.writersCount": {
                           "name": "kbc.writersCount",
                           "value": 0
                       },
                       "orchestrations.count": {
                           "name": "orchestrations.count",
                           "value": 10
                       },
                       "storage.dataSizeBytes": {
                           "name": "storage.dataSizeBytes",
                           "value": 50000000000
                       },
                       "storage.jobsParallelism": {
                           "name": "storage.jobsParallelism",
                           "value": 10
                       }
                    },
                    "metrics": {
                       "kbc.adminsCount": {
                           "name": "kbc.adminsCount",
                           "value": 2
                       },
                       "orchestrations.count": {
                           "name": "orchestrations.count",
                           "value": 1
                       },
                       "storage.dataSizeBytes": {
                           "name": "storage.dataSizeBytes",
                           "value": 112128
                       },
                       "storage.rowsCount": {
                           "name": "storage.rowsCount",
                           "value": 1036
                       }
                    },
                    "isDisabled": false,
                    "billedMonthlyPrice": null,
                    "dataRetentionTimeInDays": 7,
                    "assignedBackends": [
                        "snowflake"
                    ],
                    "fileStorageProvider": "aws",
                    "payAsYouGo": {
                        "purchasedCredits": 123
                    }
                }
            }

### Development branch token verification [GET /v2/storage/branch/{branch_id}/tokens/verify]
Checks the token privileges and returns information about the project to which the token belongs (`owner`)
and the associated administrator (`admin`) with organization (if any). If the project is configured with pay as you go billing, `payAsYouGo` section with details is available under `owner` info.
This call can be executed by all tokens.
**Same as for default branch.**

+ Parameters
    + branch_id - Id of development branch

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body
            {
                "id": "44",
                "created": "2017-02-13T10:27:50+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "description": "",
                "uri": "https:\/\/connection.keboola.com\/v2\/storage\/tokens\/44",
                "isMasterToken": true,
                "canManageBuckets": true,
                "canManageTokens": true,
                "canReadAllFileUploads": true,
                "canPurgeTrash": true,
                "canManageProtectedDefaultBranch": false,
                "canCreateJobs": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "isBYODB": false,
                "dailyCapacity": 0,
                "token": "your_token",
                "bucketPermissions": {
                    "in.c-test": "manage",
                },
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "componentAccess": [],
                "admin": {
                    "id": 124,
                    "name": "John Doe",
                    "features": [],
                    "isOrganizationMember": true,
                    "role": "admin"
                },
                "organization": {
                    "id": 123
                },
                "owner": {
                    "name": "Buckets 5",
                    "id": "58",
                    "type": "production",
                    "region": "us-east-1",
                    "created": "2022-08-18T08:47:07+0200",
                    "expires": null,
                    "features": [],
                    "dataSizeBytes": 112128,
                    "rowsCount": 1036,
                    "hasMysql": false,
                    "hasSynapse": false,
                    "hasRedshift": false,
                    "hasSnowflake": true,
                    "hasExasol": false,
                    "hasTeradata": false,
                    "hasBigquery": false,
                    "defaultBackend": "snowflake",
                    "hasTryModeOn": "0",
                    "limits": {
                       "components.jobsParallelism": {
                           "name": "components.jobsParallelism",
                           "value": 10
                       },
                       "goodData.dataSizeBytes": {
                           "name": "goodData.dataSizeBytes",
                           "value": 1000000000
                       },
                       "goodData.demoTokenEnabled": {
                           "name": "goodData.demoTokenEnabled",
                           "value": 1
                       },
                       "goodData.prodTokenEnabled": {
                           "name": "goodData.prodTokenEnabled",
                           "value": 0
                       },
                       "goodData.usersCount": {
                           "name": "goodData.usersCount",
                           "value": 30
                       },
                       "kbc.adminsCount": {
                           "name": "kbc.adminsCount",
                           "value": 10
                       },
                       "kbc.extractorsCount": {
                           "name": "kbc.extractorsCount",
                           "value": 0
                       },
                       "kbc.monthlyProjectPowerLimit": {
                           "name": "kbc.monthlyProjectPowerLimit",
                           "value": 50
                       },
                       "kbc.writersCount": {
                           "name": "kbc.writersCount",
                           "value": 0
                       },
                       "orchestrations.count": {
                           "name": "orchestrations.count",
                           "value": 10
                       },
                       "storage.dataSizeBytes": {
                           "name": "storage.dataSizeBytes",
                           "value": 50000000000
                       },
                       "storage.jobsParallelism": {
                           "name": "storage.jobsParallelism",
                           "value": 10
                       }
                    },
                    "metrics": {
                       "kbc.adminsCount": {
                           "name": "kbc.adminsCount",
                           "value": 2
                       },
                       "orchestrations.count": {
                           "name": "orchestrations.count",
                           "value": 1
                       },
                       "storage.dataSizeBytes": {
                           "name": "storage.dataSizeBytes",
                           "value": 112128
                       },
                       "storage.rowsCount": {
                           "name": "storage.rowsCount",
                           "value": 1036
                       }
                    },
                    "isDisabled": false,
                    "billedMonthlyPrice": null,
                    "dataRetentionTimeInDays": 7,
                    "assignedBackends": [
                        "snowflake"
                    ],
                    "fileStorageProvider": "aws",
                    "payAsYouGo": {
                        "purchasedCredits": 123
                    }
                }
            }

## Share Token [/v2/storage/tokens/{token_id}/share]
### Share Token [POST]
Use this call whenever you want to securely deliver a token to someone. The link to the token retrieval page will be sent to the
provided email address. The link will expire in 2 hours.

+ Parameters
    + token_id (required, number) - Token Id

+ Attributes
    + recipientEmail (required) - Recipient's email address
    + message (required) - Message for the token recipient

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "recipientEmail": "martin@keboola.com",
                "message": "Hi"
            }

+ Response 204

## Token Refresh [/v2/storage/tokens/{id_token}/refresh]
### Refresh Token [POST]
Use this method to generate a new token value; the old token value will become immediately invalid.
This method can be executed by all tokens.

+ Parameters
    + id_token - A valid token id. You can get it from [Verify call](#reference/tokens-and-permissions/token/token-verification).

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "id": "48",
                "token": "new_token",
                "description": "Master Token",
                "created": "2017-02-13T10:27:50+0100",
                "refreshed": "2017-11-13T16:48:28+0100",
                "uri": "https://connection-devel.keboola.com/v2/storage/tokens/id_token",
                "isMasterToken": false,
                "canReadAllFileUploads": false,
                "canPurgeTrash": false,
                "expires": null,
                "isExpired": false,
                "isDisabled": false,
                "dailyCapacity": 5,
                "creatorToken": {
                    "id": 1,
                    "description": "dev@keboola.com"
                },
                "bucketPermissions": {
                    "in.c-main": "manage",
                    "out.c-main": "manage",
                    "in.c-twitter": "manage"
                }
            }

# Group Miscellaneous

## API Index [/v2/storage]

### Component List [GET /v2/storage?exclude={exclude}]

Use this API call to obtain definitions of all components, services and stack features available in KBC. For more information about
the KBC Component architecture, see the [Developers documentation](https://developers.keboola.com/overview/).

- `?exclude=components` - the `components` field won't be present in a response
- `?exclude=componentDetails` - the `components` field will include only `id`, `name`, `type`, `ico64`, `ico128`,
`features`, `flags`, `description` and `categories` properties for each component

+ Parameters
    + exclude (optional, enum[string]) - Comma-separated list of resources or parts to exclude from response
        + Members
            + components
            + componentDetails

+ Response 200 (application/json)
    + Body

            {
                "api": "storage",
                "documentation": "http://docs.keboola.apiary.io/",
                "version": "v2",
                "components": [
                    {
                        "id": "orchestrator-2",
                        "uri": "https://orchestrator-2.keboola.com/"
                    },
                    {
                        "id": "transformation",
                        "uri": "https://transformation.keboola.com/"
                    }
                ],
                "services": [
                    {
                        "id": "docker-runner",
                        "url": "https:\/\/docker-runner.keboola.com"
                    },
                    {
                        "id": "import",
                        "url": "https:\/\/import.keboola.com"
                    },
                    {
                        "id": "syrup",
                        "url": "https:\/\/syrup.keboola.com"
                    }
                ],
                "features": [
                    "disable-sync-import-data"
                ],
                "urlTemplates": {
                    "orchestrationJob": "\/admin\/projects\/&&projectId&&\/orchestrations\/&&orchestrationId&&\/jobs\/&&jobId&&"
                }
            }

# Group Buckets
[Buckets](https://help.keboola.com/storage/buckets/) are containers for one or more data tables.
Access to buckets can be limited by access tokens. Each bucket has a *backend* in which all tables are created:
- Snowlake (default)
- Redshift

## Create or List Buckets [/v2/storage/buckets]
### List all buckets [GET /v2/storage/buckets?include={include}]

All buckets are returned.

+ Parameters
    + include (optional, enum[string]) - Comma-separated list of resources to include for each table.
        + Members
            + metadata
            + linkedBuckets

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            [
                {
                    "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-main",
                    "id": "in.c-main",
                    "name": "c-main",
                    "displayName": "main",
                    "stage": "in",
                    "description": "Main user storage",
                    "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-main/tables",
                    "backend": "snowflake"
                    "linkedBy": [
                        {
                            "id": "in.c-linked-bucket",
                            "created": "2017-02-13T12:01:05+0100",
                            "project": {
                                "id": 321,
                                "name": "Some Project"
                            }
                        }, {
                            "id": "in.c-another-linked-bucket",
                            "created": "2017-02-13T12:01:05+0100",
                            "project": {
                                "id": 322,
                                "name": "Some Other Project"
                            }
                        }
                    ],
                    "owner": {
                        "id": 123,
                        "name": "Jan Developer",
                        "email": "jan.dev@keboola.com"
                    },
                    "updated": "2024-11-28T13:03:13+0100",
                    "color": null
                    "backendPath": [
                        "KBC_PRJ_123",
                        "in.c-main"
                    ],
                },
                {
                    "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-organizationData",
                    "id": "in.c-organizationData",
                    "name": "c-organizationData",
                    "displayName": "organization",
                    "stage": "in",
                    "description": "Source bucket description",
                    "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-organizationData/tables",
                    "backend": "snowflake",
                    "isReadonly": true,
                    "backendPath": [
                        "KBC_PRJ_123",
                        "in.c-main"
                    ],
                    "sourceBucket": {
                        "id": "in.c-main",
                        "name": "c-main",
                        "description": "Organization shared data"
                        "project": {
                            "id": 123,
                            "name": "Project name"
                        }
                    },
                    "owner": null,
                    "updated": "2024-11-28T13:03:13+0100",
                    "color": "#FF0000"
                }
            ]

### Create Bucket [POST]
Using this API call, you can either create a new bucket in the project, or you can link an
existing bucket from another project (see below).

+ Attributes
    + name (required) - New bucket name; only alphanumeric characters and underscores are allowed.
    + stage (optional, enum[string]) - Assigns the bucket to one of the stages.
        + Members
            + in
            + out
        + Default: in
    + description (optional) - Bucket description. **deprecated**
    + backend (optional, enum[string]) - Bucket backend type; the default value is determined by the project settings.
        + Members
            + snowflake
            + redshift
            + bigquery
    + displayName (optional) - Bucket displayName, this name is displayed in UI and can be changed anytime; only alphanumeric characters,underscores and dashes are allowed.
    + color (optional) - Bucket color. Accept valid CSS values for colors.

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "name": "my-new-bucket",
                "stage": "in",
                "description": "Some Description"
            }

+ Response 201 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-my-new-bucket",
                "id": "in.c-my-new-bucket",
                "name": "c-my-new-bucket",
                "displayName": "my-new-bucket",
                "stage": "in",
                "description": "Some Description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-my-new-bucket/tables",
                "created": "2017-02-13T12:01:05+0100",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "hasExternalSchema": false,
                "databaseName": null,
                "path": "database_name.c-my-new-bucket",
                "sharing": null,
                "updated": "2024-11-28T13:03:13+0100",
                "color": null,
                "backendPath": [
                    "KBC_PRJ_123",
                    "in.c-main"
                ],
            }

### Link Shared Bucket [POST /v2/storage/buckets?async={async}]
Use this API call to create a new bucket which contains contents of a
[shared bucket](https://help.keboola.com/storage/buckets/sharing/) in a source project.
Linking a bucket from another project is only possible if it has been
[enabled](#reference/buckets/bucket-sharing/share-bucket) in the source project.

+ Parameters
    + async (optional, boolean) - Share the bucket in a background job.


+ Attributes
    + name (required) - New bucket name; only alphanumeric characters and underscores are allowed.
    + sourceProjectId (required, number) - Id of the source project from which the bucket is being shared
    + sourceBucketId (required) - Id of the bucket being shared
    + stage (optional, enum[string]) - Assigns the bucket to one of the stages.
        + Members
            + in
            + out
        + Default: in

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "name": "organizationData",
                "stage": "in",
                "sourceProjectId": 123,
                "sourceBucketId": "in.c-shared-bucket"
            }

+ Response 201 (application/json)
Synchronous call response (async=false)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-organizationData",
                "id": "in.c-organizationData",
                "name": "c-organizationData",
                "displayName": "organizationData",
                "stage": "in",
                "description": "Source bucket description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-organizationData/tables",
                "backend": "snowflake",
                "isReadonly": true,
                "sourceBucket": {
                    "id": "in.c-shared-bucket",
                    "name": "c-shared-bucket",
                    "description": "Organization shared data"
                    "project": {
                        "id": 123,
                        "name": "Project name"
                    }
                },
                "owner": null,
                "updated": "2024-11-28T13:03:13+0100",
                "backendPath": [
                    "KBC_PRJ_123",
                    "in.c-main"
                ],
            }

+ Response 202
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketLink",
                "operationParams": {
                    "params": {
                        "bucketName": "organizationData",
                        "displayName": "organizationData",
                        "bucketStage": "in",
                        "sourceProjectId": 105,
                        "sourceBucketId": "in.c-API-sharing",
                        "devBranchId": 4230,
                        "queue": "main"
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Register bucket [POST /v2/storage/buckets/register]
**EXPERIMENTAL**

Use this API call to create a new bucket from existing resource (schema or DB - depends on backend). Available for **Snowflake** and **BigQuery** backends only

+ Attributes
    + name (required) - New bucket name; only alphanumeric characters and underscores are allowed.
    + stage (optional, enum[string]) - Assigns the bucket to one of the stages.
        + Members
            + in
            + out
        + Default: in
    + description (optional) - Bucket description.
    + backend (optional, enum[string]) - Bucket backend type; the default value is determined by the project settings.
        + Members
            + snowflake
            + bigquery
    + displayName (optional) - Bucket displayName, this name is displayed in UI and can be changed anytime; only alphanumeric characters,underscores and dashes are allowed.
    + path (required, array) - Path to the schema. On SNFLK ['database-name','schema-name'], BigQuery ['projectId', 'location', 'exchangerName', 'listingName']
    + isSnowflakeSharedDatabase (optional, boolean) - Flag if external bucket uses Snowflake Secure Data Share feature

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "name": "organizationData",
                "displayName": "organization-members",
                "stage": "in",
                "description": "my bucket",
                "backend": "snowflake",
                "path": ["DATABASE", "SCHEMA"]
            }

+ Response 202
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketRegister",
                "operationParams": {
                    "params": {
                        "bucketName": "organizationData",
                        "displayName": "organizationData",
                        "bucketStage": "in",
                        "path": ["DATABASE", "SCHEMA"],
                        "devBranchId": 4230,
                        "queue": "main"
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Register bucket - guide [GET /v2/storage/buckets/register-guide?backend={backend}&path={path}]
**EXPERIMENTAL**

Returns a guide on how exactly you should register the external bucket. The text is Markdown formatted. Available for **Snowflake** and **BigQuery** backend only

+ Parameters
    + backend (optional, enum[string]) - Bucket backend type; the default value is determined by the project settings.
        + Members
            + snowflake
            + bigquery
    + path (required, array[string]) - Path to the schema. For Snowflake backend it's in a format ['database-name','schema-name'], for BigQuery ['dataset-name']
    + isSnowflakeSharedDatabase (optional, boolean) - render guide for Snowflake shared database

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {"markdown":"* Log into Snowflake as account with at least following permissions\n  * grant usage on the schema and database\n  * grant select on all tables in the schema and future tables in the schema\n* Execute following queries\n\n```snowflake\nGRANT USAGE ON DATABASE \"my-database-name\" TO ROLE \"KEBOOLA_123\" WITH GRANT OPTION;\nGRANT USAGE ON SCHEMA \"my-database-name\".\"my-schema-name\" TO ROLE \"KEBOOLA_123\" WITH GRANT OPTION;\n\nGRANT SELECT ON ALL TABLES IN SCHEMA \"my-database-name\".\"my-schema-name\" TO ROLE \"KEBOOLA_123\" WITH GRANT OPTION;\nGRANT SELECT ON FUTURE TABLES IN SCHEMA \"my-database-name\".\"my-schema-name\" TO ROLE \"KEBOOLA_123\" WITH GRANT OPTION;\n```\n"}


## Manage Bucket [/v2/storage/buckets/{bucket_id}?include={include}]
### Bucket Detail [GET]
Obtains information about a bucket.

+ Parameters
    + bucket_id (required) - Bucket Id
    + include (optional, enum[string]) - Comma-separated list of resources to include for each table.
        + Members
            + `metadata` - each table will include list of it's metadata
            + `columns` - each table will include list of it's columns
            + `columnMetadata` - each table will include list of it's columns metadata
            + `sourceMetadata` - For alias tables, includes source table metadata in sourceTable.metadata. Works across projects for linked buckets
            + `sourceColumnMetadata` - For alias tables, includes source column metadata in sourceTable.columnMetadata. Works across projects for linked buckets

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-ga",
                "id": "in.c-ga",
                "name": "c-ga",
                "displayName": "ga",
                "stage": "in",
                "description": "Google Analytics",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-ga/tables",
                "backend": "snowflake",
                "hasExternalSchema": false,
                "databaseName": null,
                "path": "database_name.c-ga",
                "linkedBy": [
                    {
                        "id": "in.c-linked-bucket",
                        "created": "2017-02-13T12:01:05+0100",
                        "project": {
                            "id": 321,
                            "name": "Some Project"
                        }
                    }, {
                        "id": "in.c-another-linked-bucket",
                        "created": "2017-02-13T12:01:05+0100",
                        "project": {
                            "id": 322,
                            "name": "Some Other Project"
                        }
                    }
                ],
                "metadata": [
                    {
                        "id": "206180828",
                        "key": "KBC.createdBy.component.id",
                        "value": "keboola.ex-db-snowflake",
                        "provider": "user",
                        "timestamp": "2019-08-12T14:36:08+0200"
                    }
                ],
                "scheduledTasks": [
                    {
                        "uuid": "0197e22b-379d-7c62-bc6d-88e50c3d0c75",
                        "job": "bucketRefresh",
                        "relatedEntity": "bucket",
                        "relatedId": "in.c-ga",
                        "cronExpression": "32 16 * * *",
                        "createdAt": "2025-07-14T00:13:00+02:00"
                    }
                ],
                "owner": {
                    "id": 123,
                    "name": "Jan Developer",
                    "email": "jan.dev@keboola.com"
                },
                "updated": "2024-11-28T13:03:13+0100",
                "backendPath": [
                    "KBC_PRJ_123",
                    "in.c-main"
                ],
            }

### Bucket Update [PUT /v2/storage/buckets/{bucket_id}/?async={async}]
Update an existing bucket

+ Parameters
    + bucket_id (required) - Bucket Id
    + async (optional, boolean) - Updates the bucket in a background job. This is useful if updates takes too much time and times out.

+ Attributes
    + displayName (required, string) - Bucket displayName, this name is displayed in UI and can be changed anytime; only alphanumeric characters,underscores and dashes are allowed.
    + color (optional) - Bucket color. Accept valid CSS values for colors.

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "displayName": "my-display-name-for-bucket",
                "color": "#00FF00"
            }

+ Response 200 (application/json)
Synchronous call response (async=false)

    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket",
                "id": "in.c-my-bucket",
                "name": "c-my-bucket",
                "displayName": "my-display-name-for-bucket",
                "stage": "in",
                "description": "Some Description",
                "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-my-bucket/tables",
                "created": "2017-02-13T12:01:05+0100",
                "lastChangeDate": null,
                "isReadOnly": false,
                "dataSizeBytes": 0,
                "rowsCount": 0,
                "isMaintenance": false,
                "backend": "snowflake",
                "sharing": null,
                "owner": null,
                "updated": "2024-11-28T13:03:13+0100",
                "color": "#00FF00",
                "backendPath": [
                    "KBC_PRJ_123",
                    "in.c-main"
                ],
            }
+ Response 202
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)

    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketDelete",
                "operationParams": {
                    "params": {
                        "idBucket": 123,
                        "force": true
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Bucket Refresh [PUT /v2/storage/buckets/{bucket_id}/refresh]
**EXPERIMENTAL**

Refresh external bucket. For **Snowflake** and **Bigquery** backends only. If database object (DB, Schema...) isn't available anymore (was deleted or revoked), the bucket in Storage will be deleted.


+ Parameters
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 202
Asynchronous call response that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)

    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketRefresh",
                "operationParams": {
                    "params": {
                        "idBucket": 123,
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }


### Schedule bucket refresh [POST /v2/storage/branch/{branch_id}/buckets/{bucket_id}/scheduled-tasks/refresh]

**EXPERIMENTAL**

Schedule external bucket refresh to given time or repeating period defined by cron expression.

+ Parameters
    + branch_id (required) - Branch Id
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            Content-Type: application/json
            X-StorageApi-Token: your_token

    + Body

            {
                "cronExpression": "42 13 * * *"
            }

+ Response 201 (application/json)

    Return scheduled task data.

    + Body

            {
                "uuid": "0197e22b-379d-7c62-bc6d-88e50c3d0c75",
                "job": "bucketRefresh",
                "relatedEntity": "bucket",
                "relatedId": "in.c-bucket-name",
                "cronExpression": "42 13 * * *",
                "createdAt": "2025-07-01T00:08:00+02:00"
            }

### Bucket Tables Information Refresh [POST /v2/storage/branch/{branch_id}/buckets/{bucket_id}/refresh-tables-info]
Refresh tables information in bucket. For **Snowflake** backend only. Aliases with source table in the defined bucket are also refreshed. If alias in the discussed bucket has source table in another bucket, it won't be refreshed.


+ Parameters
    + branch_id (required) - Branch Id
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 202
Asynchronous call response that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)

    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketRefreshTablesInformation",
                "operationParams": {
                    "params": {
                        "idBucket": 123,
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Drop Bucket [DELETE /v2/storage/buckets/{bucket_id}/?force={force}&async={async}]
Deletes a bucket from the project. In the default mode, only empty buckets can be deleted.
Use the optional `force` parameter to delete all bucket content too.

+ Parameters
    + bucket_id (required) - Bucket Id
    + force (optional, boolean) - Drops all tables and aliases. Tables must not have any dependencies (aliases, etc.).
    + async (optional, boolean) - Drops the bucket in a background job. This is useful if dropping takes too much time and times out.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 204
Synchronous call response (async=false)
    + Body

+ Response 202
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketDelete",
                "operationParams": {
                    "params": {
                        "idBucket": 123,
                        "force": true
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Bucket Owner detail [GET /v2/storage/buckets/{bucket_id}/owner]
Return information about current bucket owner.

+ Parameters
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200
    + Body

        {
            "id": 123,
            "name": "Dev",
            "email": "dev@keboola.com"
        }

+ Response 404

### Bucket Owner update [POST /v2/storage/buckets/{bucket_id}/owner]
Update information about current bucket owner.

+ Parameters
    + bucket_id (required) - Bucket Id
    + id (optional, boolean) - Project Admin ID. ID or email is required.
    + email (optional, boolean) - Project Admin email. ID or email is required.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200

+ Response 404

## Bucket Sharing

### Share Bucket To Organization [POST /v2/storage/buckets/{bucket_id}/share-organization]
[Enables sharing](https://help.keboola.com/storage/buckets/sharing/) or **update sharing** for this bucket within the organization.
Any organization member will be able to link to this bucket from any project within the organization.
This operations is available only for organization administrators.
+ Parameters
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 202
Asynchronous call response that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketShareToOrganization",
                "operationParams": {
                    "params": {
                        "queue": "main"
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Share Bucket To Organization Project [POST /v2/storage/buckets/{bucket_id}/share-organization-project]
[Enables sharing](https://help.keboola.com/storage/buckets/sharing/) or **update sharing** for this bucket within the organization.
Any member of a project within the organization will be able to link to this bucket from their project.
This operations is available only for organization administrators.
+ Parameters
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 202
Asynchronous call response that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketShareToOrganizationProject",
                "operationParams": {
                    "params": {
                        "queue": "main"
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Share Bucket To Projects [POST /v2/storage/buckets/{bucket_id}/share-to-projects]
[Enables sharing](https://help.keboola.com/storage/buckets/sharing/) or **update sharing** for this bucket to a specific set of projects in the organization.
All users who are member of one of the targeted projects will be able to link to this bucket from that specific project.
This operations is available only for organization administrators.

+ Parameters
    + bucket_id (required) - Bucket Id

+ Attributes
    + targetProjectIds[] (required, array) - array of projects id

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token
    + Body

            {
                "targetProjectIds": [
                    "1",
                    "2",
                    "3"
                ]
            }

+ Response 202
Asynchronous call response that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketShareToProjects",
                "operationParams": {
                    "params": {
                        "targetProjectIds": [
                          1
                        ],
                        "queue": "main"
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Share Bucket To Users [POST /v2/storage/buckets/{bucket_id}/share-to-users]
[Enables sharing](https://help.keboola.com/storage/buckets/sharing/) or **update sharing** for this bucket to a specific set of users in the organization.
All users who are included in the targetUsers array will be able to link to this bucket.
This operations is available only for organization administrators.

+ Parameters
    + bucket_id (required) - Bucket Id

+ Attributes
    + targetUsers[] (required, array) - array of users id or user emails. Users must be member of at least one project in the organization.

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token
    + Body

            {
                "targetUsers": [
                    "dev@keboola.com",
                    "dev2@keboola.com",
                    "dev3@keboola.com"
                ]
            }

+ Response 202
Asynchronous call response that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketShareToAdmins",
                "operationParams": {
                    "params": {
                        "targetUsers": [
                          1
                        ],
                        "queue": "main"
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Change Bucket Sharing [PUT /v2/storage/buckets/{bucket_id}/share]
Change [sharing type](https://help.keboola.com/storage/buckets/sharing/#sharing-type) of a bucket.
This operations is available only for organization administrators.


+ Parameters
    + bucket_id (required) - Bucket Id

+ Attributes
    + sharing (required, enum[string]) - Sharing type
        + Members
            + `organization` - Bucket is shared to organization. Any organization member will be able to link to this bucket from any project within the organization.
            + `organization-project` - Bucket is shared to organization. Any member of a project within the organization will be able to link to this bucket from their project.

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

+ Response 202
Asynchronous call response that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketShareUpdate",
                "operationParams": {
                    "params": {
                        "sharingType": "organization-project",
                        "queue": "main"
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

### Stop Bucket Sharing [DELETE /v2/storage/buckets/{bucket_id}/share]
Disables sharing of a bucket. A bucket must not be linked to other projects.
To unshare an already linked bucket, you have to delete the links first - use the
[Drop Bucket](#reference/buckets/manage-bucket/drop-bucket) in the linking project.
This operations is available only for organization administrators.

+ Parameters
    + bucket_id (required) - Bucket Id

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 202
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketRemoveShare",
                "operationParams": {
                    "params": {
                        "queue": "main"
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "ondrej.popelka@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }


### Force unlink a bucket from a project  [DELETE /v2/storage/buckets/{bucket_id}/links/{linkedProjectId}?async={async}]

When bucket is shared and someone links it, it effectively prevents the owner of the data from revoking the share.
When user of the linked bucket is not responding it's a blocker. Force unlink allows you to unlink
a bucket from any project it's linked to, solving the situation.

**Note:** You may break some workflows in the project that linked the data by force unlinking the bucket.

+ Parameters
    + bucket_id (required) - Bucket Id
    + linkedProjectId (required, number) - id of project where the bucket is linked
    + async (optional, boolean) - Unlinks the bucket in a background job. This is useful if dropping takes too much time and times out.

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 204
Synchronous call response (async=false)
    + Body
+ Response 202
Asynchronous call response (async=true) that creates a new job. To see job detail use [Job Detail API endpoint](#reference/jobs/manage-jobs/job-detail)
    + Body

            {
                "id": 11,
                "status": "waiting",
                "url": "https://connection.keboola.com/v2/storage/jobs/11",
                "operationName": "bucketForceUnlink",
                "operationParams": {
                    "params": {
                        "linkedIdBucket": 123,
                        "linkedIdProject": 321,
                        "async": true
                    }
                },
                "createdTime": "2013-05-31T16:11:05+0200",
                "startTime": null,
                "endTime": null,
                "runId": null,
                "results": null,
                "creatorToken": {
                    "id": "27978",
                    "description": "roman.bracinik@keboola.com"
                },
                "metrics": {
                    "inCompressed": false,
                    "inBytes": 0,
                    "inBytesUncompressed": 0,
                    "outCompressed": false,
                    "outBytes": 0,
                    "outBytesUncompressed": 0
                }
            }

## List Shared Buckets [/v2/storage/shared-buckets?include={include}]
Lists buckets which may be shared to the project.

### Shared buckets list [GET]

+ Parameters
    + include (optional) - Comma-separated list of resources to include for each table. Available resources: 'metadata'.
        + Default: ''

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            [
                {
                    "id": "in.c-main",
                    "name": "c-main",
                    "displayName": "main",
                    "stage": "in",
                    "description": "Organization shared data"
                    "sharing": "organization-project",
                    "created": "2020-01-12T18:28:31+0100",
                    "lastChangeDate": "2020-01-12T18:31:49+0100",
                    "dataSizeBytes": 1536,
                    "rowsCount": 32,
                    "backend": "snowflake",
                    "project": {
                        "id": 123,
                        "name": "Project name"
                    },
                    "tables": [
                        {
                            "id": "in.c-main.languages",
                            "name": "languages"
                            "displayName": "languages-display-name"
                        }
                    ],
                    "color" : null,
                    "sharingParameters": [],
                    "sharedBy": {
                        "id": 5,
                        "name": "dev@keboola.com",
                        "date": "2020-02-03T14:58:29+0100"
                    }
                    "owner": null,
                    "updated": "2024-11-28T13:03:13+0100"
                }
            ]

# Group Tables

## Create or List Tables [/v2/storage/buckets/{bucket_id}/tables]

### Create new table from CSV file [POST]

***DEPRECATED**, use [Create table asynchronously](#reference/tables/create-table-asynchronously/create-new-table-from-csv-file-asynchronously) instead.*

Creates a new table in a bucket. The CSV file must follow the [RFC 4180 Specification](https://tools.ietf.org/html/rfc4180).
More information about the requirements can be found in the [Manual](https://help.keboola.com/storage/tables/csv-files/).
Column names are extracted from the CSV file header; spaces and any other special characters in column names are
replaced with an underscore. This API call should be used only for tables which can be safely transferred in a single HTTP request; for large
tables use the [asynchronous call](#reference/tables/create-table-asynchronously/create-new-table-from-csv-file-asynchronously).

+ Parameters
    + bucket_id (required) - Bucket Id

+ Attributes
    + name (required) - New table name
    + data (required) - CSV file containing data for import. The data have to be encoded in **UTF-8**. The file can be raw or gzipped. Gzipped files must have the extension `.gz`.
    + delimiter (optional) - Field delimiter used in the CSV file. The default value is ','.  Use '\t' or type the char for the tabulator.
    + enclosure (optional) - Field enclosure used in the CSV file. The default value is '"'. (Note: you can specify either `enclosure` or `escapedBy` parameter, not both.)
    + escapedBy (optional) - Escape character used in the CSV file. The default value is an empty value - no escape character is used. (Note: you can specify either `enclosure` or `escapedBy` parameter, not both.)
    + primaryKey (optional) - Primary key of the table. If the primary key is set, updates can be done on the table. See the CSV incremental import. The primary key can be also composed by multiple columns; the columns must be separated by a comma.

+ Request (multipart/form-data)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            ------WebKitFormBoundaryqPuY88H6m4oIp6zq
            Content-Disposition: form-data; name="name"
            my_table_name
            ------WebKitFormBoundaryqPuY88H6m4oIp6zq
            Content-Disposition: form-data; name="data"; filename="my_table_name.csv"
            Content-Type: application/octet-stream
            file_content
            ------WebKitFormBoundaryqPuY88H6m4oIp6zq
            Content-Disposition: form-data; name="delimiter"
            ,
            ------WebKitFormBoundaryqPuY88H6m4oIp6zq
            Content-Disposition: form-data; name="enclosure"
            "
            ------WebKitFormBoundaryqPuY88H6m4oIp6zq--

+ Response 201 (application/json)
    + Body

            {
                "uri": "https://connection.keboola.com/v2/storage/tables/in.c-main.languages",
                "id": "in.c-main.languages",
                "name": "languages",
                "displayName": "languages-displayName",
                "gdName": "languages",
                "created": "2012-07-23 09:51:45",
                "lastImportDate": null,
                "columns": [
                    "id",
                    "name_id",
                    "nm_id"
                ],
                "bucket": {
                    "uri": "https://connection.keboola.com/v2/storage/buckets/in.c-main",
                    "id": "in.c-main",
                    "name": "c-main",
                    "displayName": "main",
                    "stage": "in",
                    "description": "Main user storage",
                    "tables": "https://connection.keboola.com/v2/storage/buckets/in.c-main/tables"
                }
            }

### Tables in bucket [GET /v2/storage/buckets/{bucket_id}/tables?include={include}]
Lists tables in a given bucket.

+ Parameters
    + bucket_id (required) - Bucket Id
    + include (optional, enum[string]) - Comma-separated list of resources to include for each table
        + Members
            + columns
            + metadata
            + columnMetadata
        + Default: metadata

+ Request
    + Headers

            X-StorageApi-Token: your_token

+ Response 200 (application/json)
    + Body

            [
                {
                    "uri": "https://connection.keboola.com/v2/storage/tables/in.c-keboola-ex-db-snowflake-528221294.datatypes",
                    "id": "in.c-keboola-ex-db-snowflake-528221294.datatypes",
                    "name": "datatypes",
                    "transactional": false,
                    "primaryKey": [],
                    "created": "2019-08-12T14:36:00+0200",
                    "lastImportDate": "2019-08-12T21:16:41+0200",
                    "lastChangeDate": "2019-08-12T21:16:41+0200",
                    "rowsCount": 2,
                    "dataSizeBytes": 1024,
                    "isAlias": false,
                    "isAliasable": true,
                    "isTyped": false,
                    "timestampType": "MANAGED",
                    "tableType": "table",
                    "path": "kbc.c-keboola-ex-db-snowflake-528221294.datatypes",
                    "metadata": [
                        {
                            "id": "206180828",
                            "key": "KBC.createdBy.component.id",
                            "value": "keboola.ex-db-snowflake",
                            "provider": "system",
                            "timestamp": "2019-08-12T14:36:08+0200"
                        }
                    ],
                    "columnMetadata": {
                        "ID": [
                            {
                                "id": "206180838",
                                "key": "KBC.datatype.type",
                                "value": "NUMBER",
                                "provider": "keboola.ex-db-snowflake",
                                "timestamp": "2019-08-12T14:36:17+0200"
                            }
                        ]
                    }
                },
                {
                    "uri": "https://connection.keboola.com/v2/storage/tables/in.c-keboola-ex-db-snowflake-528221294.datatypes-alias",
                    "id": "in.c-keboola-ex-db-snowflake-528221294.datatypes-alias",
                    "name": "datatypes-alias",
                    "transactional": false,
                    "primaryKey": [],
                    "created": "2019-08-14T11:43:17+0200",
                    "lastImportDate": "2019-08-12T21:16:41+0200",
                    "lastChangeDate": "2019-08-12T21:16:41+0200",
                    "rowsCount": 2,
                    "dataSizeBytes": 1024,
                    "isAlias": true,
                    "isAliasable": true,
                    "isTyped": false,
                    "timestampType": "MANAGED",
                    "tableType": "table",
                    "path": "kbc_578.c-keboola-ex-db-snowflake-528221294.datatypes-alias",
                    "sourceTable": {
                        "id": "in.c-keboola-ex-db-snowflake-528221294.datatypes",
                        "uri": "https://connection.keboola.com/v2/storage/tables/in.c-keboola-ex-db-snowflake-528221294.datatypes",
                        "project": {
                            "id": 578,
                            "name": "Some source project"
                        },
                        "metadata": [
                            {
                                "id": "206180829",
                                "key": "KBC.description",
                                "value": "Table containing data types",
                                "provider": "user",
                                "timestamp": "2019-08-12T14:36:08+0200"
                            }
                        ],
                        "columnMetadata": {
                            "ID": [
                                {
                                    "id": "206180838",
                                    "key": "KBC.datatype.type",
                                    "value": "NUMBER",
                                    "provider": "keboola.ex-db-snowflake",
                                    "timestamp": "2019-08-12T14:36:17+0200"
                                }
                            ]
                        }
                    },
                    "aliasColumnsAutoSync": true,
                    "metadata": [],
                    "columnMetadata": []
                }
            ]

## Create Table Definition [/v2/storage/buckets/{bucket_id}/tables-definition]

### Create new table definition [POST]

Creates a table with typed columns. *Snowflake|BigQuery only.*

Request is handled asynchronously which means that the create request is created and added to a queue and the job resource URL for status polling is returned.

If there is no column datatype specified (column.definition.type or column.basetype) in a request a table will be created as a non-typed table.

+ Parameters
    + bucket_id (required) - The bucket Id

+ Attributes
    + name (required) - New table name
    + primaryKeysNames[] (string) - Has to be subset of column names and not nullable.
    + timestampType (optional, enum[string]) - Standard storage tables internally manage a _timestamp column which is updated on each import with the current timestamp. This option allows to prevent internal _timestamp column creation.
        + Members
            + MANAGED
            + NONE
        + Default: MANAGED
    + columns[] (required) - definition of table columns
       + name (required, string) - column name
       + definition (object) - column settings
            + type (string) - datatype of this column, choose build in types for used backend [Snowflake](https://docs.snowflake.com/en/sql-reference/intro-summary-data-types.html), [BigQuery](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types)
            + length (string) - optional, default: depends on type
            + nullable (boolean) - optional, default: true (when column is part of primary key and nullable is not set default will be set to false)
            + default (string) - optional, default value for column
       + basetype (enum[string]) - base datatype of this column, will be converted to backend specific types
            + Members
                + BOOLEAN
                + DATE
                + FLOAT
                + INTEGER
                + NUMERIC
                + STRING
                + TIMESTAMP
    + timePartitioning - BigQuery only [(documentation)](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#timepartitioning)
        + type (required, enum[string])
            + Members
                + DAY
                + HOUR
                + MONTH
                + YEAR
        + field (string) - has to be subset of column names
        + expirationMs (number) - optional
    + clustering - BigQuery only [(documentation)](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#clustering)
        + fields[] (required) - has to be subset of column names
    + rangePartitioning - BigQuery only [(documentation)](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#rangepartitioning)
        + field (required,string) - has to be subset of column names
        + range (required) - has to be subset of column names
            + start (required, number)
            + end (required, number)
            + interval (required, number)
+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "name": "my-new-table",
                "primaryKeysNames": [
                    "id"
                ],
                "columns": [
                    {
                        "name": "id",
                        "definition": {
                            "type": "INT"
                        }
                    },
                    {
                        "name": "name",
                        "definition": {
                            "type": "NVARCHAR"
                        }
                    }
                ],
                "distribution": {
                    "type": "HASH",
                    "distributionColumnsNames": [
                        "id"
                    ]
                },
                 "index": {
                     "type": "CLUSTERED INDEX",
                     "indexColumnsNames": [
                         "id"
                     ]
                 }
            }

+ Response 202 (application/json)

        {
            "id": 356,
            "status": "waiting",
            "url": "https:\/\/localhost:8700\/v2\/storage\/jobs\/356",
            "tableId": null,
            "operationName": "tableDefinitionCreate",
            "operationParams": {
                "name": "my-new-table",
                "primaryKeysNames": [
                    "id"
                ],
                "columns": [
                    {
                        "name": "id",
                        "definition": {
                            "type": "INT",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "definition": {
                            "type": "NVARCHAR",
                            "nullable": true
                        }
                    }
                ],
                "distribution": {
                    "type": "HASH",
                    "distributionColumnsNames": [
                        "id"
                    ]
                },
                "index": {
                    "type": "CLUSTERED INDEX",
                    "indexColumnsNames": [
                        "id"
                    ]
                }
                "queue": "main"
            },
            "createdTime": "2021-05-24T11:09:47+0200",
            "startTime": null,
            "endTime": null,
            "runId": "5107",
            "results": null,
            "creatorToken": {
                "id": "553",
                "description": "devel+test-backend_admin@keboola.com"
            },
            "metrics": {
                "inCompressed": false,
                "inBytes": 0,
                "inBytesUncompressed": 0,
                "outCompressed": false,
                "outBytes": 0,
                "outBytesUncompressed": 0
            }
        }

## Update Definition

### Update Column Definition [PUT /v2/storage/tables/{table_id}/columns/{column_name}/definition]

Updates a column of a table with typed columns. *Snowflake, BigQuery only.*

Request is handled asynchronously which means that the create request is created and added to a queue and the job resource URL for status polling is returned.

*BigQuery* executes each change of definition in a single atomic operation. If one of the operations fails (e.g. trying to set string DEFAULT value on NUMERIC column), job ends in error (even if other operations succeeded) with description of each operation.

Supported alterations:
| | Snowflake | BigQuery |
| --- | --- | --- |
| Add default| ❌ | ✅ |
| Change default |  ❌ | ✅ |
| Drop default | ✅ | ✅ |
| Set as nullable | ✅ | ✅ |
| Set as required | ✅ | ❌ |
| Change type | ❌ | ❌ |
| Increase the length of a text column | ✅ | ✅ |
| Decrease the length of a text column | ❌ | ❌ |
| Increase the precision of a numeric column | ✅ | ✅ |
| Decrease the precision of a numeric column | ❌ | ❌ |
| Change the scale of a numeric column | ❌ | ✅ |


+ Parameters
    + table_id (required) - The table Id
    + column_name (required) - The column name

+ Attributes
    + length (string) - optional, supports numeric value for all columns (e.g. `12`) and complex length for numeric columns (e.g. `12,2`)
    + nullable (boolean) - optional, on BigQuery operation "set as required" (nullable=true -> nullable=false) is not allowed
    + default (string) - optional, default value for column, null unsets default value

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

    + Body

            {
                "length": "10",
                "nullable": false,
                "default": null
            }

+ Response 202 (application/json)

        {
            "id": 2866,
            "status": "waiting",
            "url": "https:\/\/localhost:8700\/v2\/storage\/jobs\/2866",
            "tableId": "in.c-API-tests-cb373d9e306e38e68f1c5824bbb3f9b256cc1077.table-cb373d9e306e38e68f1c5824bbb3f9b256cc1077",
            "operationName": "tableColumnDefinitionUpdate",
            "operationParams": {
                "queue": "main",
                "branchId": 18,
                "columnName": "short_int",
                "columnDefinition": {
                    "length": "10",
                    "nullable": false,
                    "removeDefault": true
                }
            },
            "createdTime": "2024-02-13T12:48:44+0100",
            "startTime": null,
            "endTime": null,
            "runId": "5747",
            "results": null,
            "creatorToken": {
                "id": "51",
                "description": "devel-tests+test-backend_admin@keboola.com"
            },
            "metrics": {
                "inCompressed": false,
                "inBytes": 0,
                "inBytesUncompressed": 0,
                "outCompressed": false,
                "outBytes": 0,
                "outBytesUncompressed": 0
            }
        }

## Pull table from default branch to dev branch [/v2/storage/branch/{branch_id}/tables/{table_id}/pull]

### Pull table from default branch to dev branch [POST]

**EXPERIMENTAL**

Pull table from default branch to dev branch with all data and metadata, if table already exists in dev branch, it will be overwritten.

Request is handled asynchronously which means that the create request is created and added to a queue and the job resource URL for status polling is returned.

+ Parameters
    + table_id (required) - The table string Id
    + branch_id - Id of development branch

+ Request (application/json)
    + Headers

            X-StorageApi-Token: your_token

+ Response 202 (application/json)

        {
            "id": 356,
            "status": "waiting",
            "url": "https:\/\/localhost:8700\/v2\/storage\/jobs\/356",
            "tableId": in.c-bucket.production-table-1,
            "operationName": "devBranchTablePull",
            "operationParams": {
                "sourceBranchId": 10,
                "targetBranchId": 11
            },
            "createdTime": "2021-05-24T11:09:47+0200",
            "startTime": null,
            "endTime": null,
            "runId": "5107",
[...]
