parameters:
    tmpDir: /tmp/tools-cache/.phpstan
    parallel:
        processTimeout: 300.0
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#Constant STORAGE_API_[_A-Z0-9]+ not found.#'
        - '#Constant MANAGE_API_[_A-Z0-9]+ not found.#'
        - '#Constant SUITE_NAME not found.#'
        - '#Constant TRAVIS_BUILD_ID not found.#'
        - '#Constant REDSHIFT_NODE_COUNT not found.#'
        - '#Constant BQ_[_A-Z0-9]+ not found.#'
    excludePaths:
        - vendor
        - cache
        - rector.php
includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

rules:
    - Tomasfejfar\PhpstanPhpunit\Rule\FailInTryCatchRule
