<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         syntaxCheck="false"
		 verbose="true"
         bootstrap="tests/bootstrap.php">

	<testsuite name="common">
		<directory>tests/Common</directory>
		<directory>tests/Options</directory>
		<directory>tests/S3Uploader</directory>
		<file>tests/File/CommonFilesTests.php</file>
		<file>tests/File/AwsFileTest.php</file>
	</testsuite>

	<testsuite name="file-storage-azure">
		<file>tests/File/AzureFileTest.php</file>
		<file>tests/File/CommonFilesTests.php</file>
	</testsuite>

	<testsuite name="azure-snowflake-import-export">
		<file>tests/Backend/Snowflake/TableExportTest.php</file>
		<file>tests/Backend/Snowflake/TimeTravelTest.php</file>
		<file>tests/Backend/CommonPart1/TableExporterTest.php</file>
		<file>tests/Backend/CommonPart1/ImportExportCommonTest.php</file>
		<file>tests/Backend/CommonPart2/SnapshottingTest.php</file>
		<file>tests/Backend/Mixed/Workspaces/AbsWorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesUnloadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesSnowflakeTest.php</file>
	</testsuite>

	<testsuite name="backend-redshift-part-1">
		<directory>tests/Backend/CommonPart1</directory>
		<file>tests/Backend/Workspaces/ComponentsWorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesRedshiftTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesLoadTest.php</file>
	</testsuite>

	<testsuite name="backend-redshift-part-2">
		<directory>tests/Backend/CommonPart2</directory>
		<file>tests/Backend/Workspaces/WorkspacesRedshiftTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesUnloadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesRenameLoadTest.php</file>
		<directory>tests/Backend/Redshift</directory>
		<file>tests/Backend/Export/ExportParamsTest.php</file>
	</testsuite>

	<testsuite name="backend-snowflake-part-1">
		<directory>tests/Backend/CommonPart1</directory>
		<file>tests/Backend/Workspaces/ComponentsWorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesSnowflakeTest.php</file>
	</testsuite>

	<testsuite name="backend-snowflake-part-2">
		<directory>tests/Backend/CommonPart2</directory>
        <file>tests/Backend/Workspaces/WorkspacesSnowflakeTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesUnloadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesRenameLoadTest.php</file>
		<directory>tests/Backend/Snowflake</directory>
		<file>tests/Backend/Export/ExportParamsTest.php</file>
	</testsuite>

	<testsuite name="backend-mixed">
		<directory>tests/Backend/Mixed</directory>
		<exclude>tests/Backend/Mixed/Workspaces/S3WorkspacesTest.php</exclude>
	</testsuite>
</phpunit>
