<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="bootstrap.php">

	<testsuite name="all">
		<directory>tests</directory>
	</testsuite>

	<testsuite name="part-1">
            <file>tests/Keboola/StorageApi/BucketsTest.php</file>
            <file>tests/Keboola/StorageApi/CommonTest.php</file>
            <file>tests/Keboola/StorageApi/ConfigsTest.php</file>
            <file>tests/Keboola/StorageApi/EventsTest.php</file>
            <file>tests/Keboola/StorageApi/ExceptionsTest.php</file>
            <file>tests/Keboola/StorageApi/FilesTest.php</file>
            <file>tests/Keboola/StorageApi/IndexTest.php</file>
            <file>tests/Keboola/StorageApi/LoggingTest.php</file>
            <file>tests/Keboola/StorageApi/MaintenanceTest.php</file>
            <file>tests/Keboola/StorageApi/OneLinersTest.php</file>
            <file>tests/Keboola/StorageApi/TableClassTest.php</file>
            <file>tests/Keboola/StorageApi/TicketsTest.php</file>
            <file>tests/Keboola/StorageApi/TokensShareTest.php</file>
            <file>tests/Keboola/StorageApi/TokensTest.php</file>
            <file>tests/Keboola/StorageApi/ComponentsTest.php</file>

            <file>tests/Keboola/StorageApi/Tables/AliasesTest.php</file>
			<file>tests/Keboola/StorageApi/Tables/AlterTest.php</file>
			<file>tests/Keboola/StorageApi/Tables/DeleteRowsTest.php</file>
			<file>tests/Keboola/StorageApi/Tables/DeleteTest.php</file>
			<file>tests/Keboola/StorageApi/Tables/ListingTest.php</file>
			<file>tests/Keboola/StorageApi/Tables/SnapshottingTest.php</file>
			<file>tests/Keboola/StorageApi/EventSubsriberTest.php</file>
			<file>tests/Keboola/StorageApi/BucketCredentialsTest.php</file>
			<file>tests/Keboola/StorageApi/RunIdTest.php</file>
        </testsuite>

        <testsuite name="part-2">
            <file>tests/Keboola/StorageApi/Tables/CreateTest.php</file>
			<file>tests/Keboola/StorageApi/Tables/SlicedImportsTest.php</file>
			<file>tests/Keboola/StorageApi/Tables/ExportParamsTest.php</file>
			<file>tests/Keboola/StorageApi/Tables/TableExporterTest.php</file>
			<file>tests/Keboola/StorageApi/Tables/RedshiftCopyImportTest.php</file>
        </testsuite>

        <testsuite name="part-3">
            <file>tests/Keboola/StorageApi/Tables/ImportExportCommonTest.php</file>
        </testsuite>

	<logging>
	  <log type="coverage-html" target="build/results/coverage" title="php-demo"
	   charset="UTF-8" yui="true" highlight="true"
	   lowUpperBound="0" highLowerBound="0"/>
	  <log type="coverage-clover" target="build/results/logs/clover.xml"/>
	  <log type="junit" target="build/results/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>

</phpunit>
