<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 stopOnError="false"
		 syntaxCheck="false"
		 verbose="true"
		 bootstrap="tests/bootstrap.php">

<testsuites>
	<testsuite name="common">
		<directory>tests/Common</directory>
		<file>tests/File/CommonFileTest.php</file>
		<exclude>tests/Common/BranchBucketsTest.php</exclude>
		<exclude>tests/Common/BranchWorkspacesTest.php</exclude>
		<file>tests/Backend/Workspaces/BranchComponentsWorkspacesTest.php</file>
	</testsuite>

	<testsuite name="azure-common">
		<file>tests/Common/QueueJobsTest.php</file>
		<file>tests/Common/BranchEventsTest.php</file>
	</testsuite>

	<testsuite name="paratest-common">
		<directory>tests/Options</directory>
		<directory>tests/S3Uploader</directory>
		<directory>tests/Downloader</directory>
		<file>tests/File/AwsFileTest.php</file>
		<file>tests/Backend/Workspaces/ReadOnlyUserTest.php</file>
		<file>tests/Common/BranchBucketsTest.php</file>
		<file>tests/Common/BranchWorkspacesTest.php</file>
	</testsuite>

	<testsuite name="file-storage-azure">
		<file>tests/File/AzureFileTest.php</file>
		<file>tests/File/CommonFileTest.php</file>
	</testsuite>

	<testsuite name="file-storage-gcs">
		<file>tests/File/GcsFileTest.php</file>
		<file>tests/File/CommonFileTest.php</file>
	</testsuite>

	<testsuite name="backend-snowflake-abs-part-2">
		<file>tests/Backend/CommonPart1/BucketsTest.php</file>
		<file>tests/Backend/FileWorkspace/WorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/ComponentsWorkspacesTest.php</file>
		<file>tests/Backend/Snowflake/CloneIntoWorkspaceTest.php</file>
		<file>tests/Backend/Snowflake/CopyIntoWorkspaceTest.php</file>
		<file>tests/Backend/Export/ExportParamsTest.php</file>
	</testsuite>

	<testsuite name="paratest-backend-snowflake-abs-part-1">
		<directory>tests/Backend/Snowflake</directory>
		<directory>tests/Backend/CommonPart1</directory>
		<exclude>tests/Backend/CommonPart1/BucketsTest.php</exclude>
		<directory>tests/Backend/CommonPart2</directory>
		<exclude>tests/Backend/CommonPart2/TablesDefinitionCommonTest.php</exclude>
		<exclude>tests/Backend/Snowflake/CloneIntoWorkspaceTest.php</exclude>
		<exclude>tests/Backend/Snowflake/CopyIntoWorkspaceTest.php</exclude>
		<file>tests/Backend/Workspaces/LegacyWorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/MetadataFromSnowflakeWorkspaceTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesSnowflakeTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesSnowflakeTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesUnloadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesRenameLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
	</testsuite>

	<testsuite name="backend-snowflake-gcs-part-2">
		<file>tests/Backend/CommonPart1/BucketsTest.php</file>
<!--		<file>tests/Backend/FileWorkspace/WorkspacesTest.php</file>-->
		<file>tests/Backend/Workspaces/ComponentsWorkspacesTest.php</file>
		<file>tests/Backend/Snowflake/CloneIntoWorkspaceTest.php</file>
		<file>tests/Backend/Snowflake/CopyIntoWorkspaceTest.php</file>
		<file>tests/Backend/Export/ExportParamsTest.php</file>
	</testsuite>

	<testsuite name="paratest-backend-snowflake-gcs-part-1">
		<directory>tests/Backend/Snowflake</directory>
		<directory>tests/Backend/CommonPart1</directory>
		<exclude>tests/Backend/CommonPart1/BucketsTest.php</exclude>
		<directory>tests/Backend/CommonPart2</directory>
		<exclude>tests/Backend/CommonPart2/TablesDefinitionCommonTest.php</exclude>
		<exclude>tests/Backend/Snowflake/CloneIntoWorkspaceTest.php</exclude>
		<exclude>tests/Backend/Snowflake/CopyIntoWorkspaceTest.php</exclude>
		<file>tests/Backend/Workspaces/LegacyWorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/MetadataFromSnowflakeWorkspaceTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesSnowflakeTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesSnowflakeTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesUnloadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesRenameLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
	</testsuite>

	<testsuite name="backend-redshift-part-2">
		<file>tests/Backend/CommonPart1/BucketsTest.php</file>
		<file>tests/Backend/Workspaces/ComponentsWorkspacesTest.php</file>
		<directory>tests/Backend/Redshift</directory>
		<file>tests/Backend/Export/ExportParamsTest.php</file>
	</testsuite>

	<testsuite name="paratest-backend-redshift-part-1">
		<directory>tests/Backend/CommonPart1</directory>
		<exclude>tests/Backend/CommonPart1/BucketsTest.php</exclude>
		<exclude>tests/Backend/CommonPart1/TimeTravelTest.php</exclude>
		<directory>tests/Backend/CommonPart2</directory>
		<exclude>tests/Backend/CommonPart2/TablesDefinitionCommonTest.php</exclude>
		<file>tests/Backend/Workspaces/LegacyWorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesUnloadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesRenameLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/MetadataFromRedshiftWorkspaceTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesRedshiftTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesRedshiftTest.php</file>
	</testsuite>

	<testsuite name="backend-snowflake-part-2">
		<file>tests/Backend/CommonPart1/BucketsTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesLoadTestReadOnly.php</file>
		<file>tests/Backend/Workspaces/ComponentsWorkspacesTest.php</file>
		<file>tests/Backend/Snowflake/CloneIntoWorkspaceTest.php</file>
		<file>tests/Backend/Snowflake/CopyIntoWorkspaceTest.php</file>
		<file>tests/Backend/Export/ExportParamsTest.php</file>
		<file>tests/Backend/ExternalBuckets/SnowflakeRegisterBucketTest.php</file>
	</testsuite>

	<testsuite name="paratest-backend-snowflake-part-1">
		<directory>tests/Backend/Snowflake</directory>
		<directory>tests/Backend/CommonPart1</directory>
		<exclude>tests/Backend/CommonPart1/BucketsTest.php</exclude>
		<directory>tests/Backend/CommonPart2</directory>
		<exclude>tests/Backend/Snowflake/CloneIntoWorkspaceTest.php</exclude>
		<exclude>tests/Backend/Snowflake/CopyIntoWorkspaceTest.php</exclude>
		<file>tests/Backend/Workspaces/LegacyWorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/MetadataFromSnowflakeWorkspaceTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesSnowflakeTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesSnowflakeTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesUnloadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesRenameLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
	</testsuite>

	<testsuite name="backend-mixed">
		<directory>tests/Backend/Mixed</directory>
		<exclude>tests/Backend/Mixed/Workspaces/S3WorkspacesTest.php</exclude>
	</testsuite>

	<testsuite name="backend-mixed-synapse">
		<directory>tests/Backend/MixedSnowflakeSynapse</directory>
	</testsuite>

	<testsuite name="backend-mixed-exasol">
		<directory>tests/Backend/MixedSnowflakeExasol</directory>
	</testsuite>

	<testsuite name="backend-mixed-teradata">
		<directory>tests/Backend/MixedSnowflakeTeradata</directory>
	</testsuite>

	<testsuite name="backend-mixed-bigquery">
		<directory>tests/Backend/MixedSnowflakeBigquery</directory>
	</testsuite>

	<testsuite name="backend-synapse-part-2">
		<file>tests/Backend/CommonPart1/BucketsTest.php</file>
<!--		<file>tests/Backend/FileWorkspace/WorkspacesTest.php</file>-->
<!--		<file>tests/Backend/FileWorkspace/WorkspacesLoadTest.php</file>-->
<!--		<file>tests/Backend/FileWorkspace/WorkspacesUnloadTest.php</file>-->
<!--		<file>tests/Backend/FileWorkspace/ComponentsWorkspacesTest.php</file>-->
<!--	DataPreviewLimitsTest is in tests/Backend/Synapse -->
		<file>tests/Backend/Workspaces/ComponentsWorkspacesTest.php</file>
<!--		<file>tests/Backend/Workspaces/LegacyWorkspacesSynapseTest.php</file>-->
<!--		<file>tests/Backend/Workspaces/WorkspacesSynapseTest.php</file>-->
<!--		<file>tests/Backend/Workspaces/SynapseWorkspacesUnloadTest.php</file>-->
<!--		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>-->
		<directory>tests/Backend/Synapse</directory>
		<file>tests/Backend/Export/ExportParamsTest.php</file>
		<file>tests/Backend/CommonPart2/TablesDefinitionCommonTest.php</file>

		<!--FILE WORKSPACE-->
		<file>tests/Backend/FileWorkspace/WorkspacesLoadTest.php</file>
		<file>tests/Backend/FileWorkspace/WorkspacesUnloadTest.php</file>
		<!--FILE WORKSPACE-->
		<file>tests/Backend/FileWorkspace/WorkspacesTest.php</file>
<!--		<file>tests/Backend/FileWorkspace/WorkspacesLoadTest.php</file>-->
<!--		<file>tests/Backend/FileWorkspace/WorkspacesUnloadTest.php</file>-->
		<file>tests/Backend/FileWorkspace/ComponentsWorkspacesTest.php</file>
	</testsuite>

	<testsuite name="paratest-backend-synapse-part-1">
		<directory>tests/Backend/CommonPart1</directory>
		<exclude>tests/Backend/CommonPart1/BucketsTest.php</exclude>
		<exclude>tests/Backend/CommonPart1/TimeTravelTest.php</exclude>
		<directory>tests/Backend/CommonPart2</directory>
		<exclude>tests/Backend/CommonPart2/TablesDefinitionCommonTest.php</exclude>
		<!--	excluded test is included in tests/Backend/Synapse/SynapseImportExportCommonTest.php -->
		<exclude>tests/Backend/CommonPart1/ImportExportCommonTest.php</exclude>
		<!--WORKSPACE-->
		<file>tests/Backend/Workspaces/LegacyWorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesRenameLoadTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/MetadataFromSynapseWorkspaceTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesSynapseTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesSynapseTest.php</file>
		<file>tests/Backend/Workspaces/SynapseWorkspacesUnloadTest.php</file>
	</testsuite>

	<testsuite name="paratest-dynamic-backend-snowflake">
		<file>tests/Backend/Workspaces/SnowflakeDynamicBackendsTest.php</file>
	</testsuite>

	<testsuite name="backend-synapse-managed-identity">
		<!-- subset of test to test import and export -->
		<file>tests/Backend/Workspaces/WorkspacesLoadTest.php</file>
		<file>tests/Backend/Workspaces/SynapseWorkspacesUnloadTest.php</file>
		<file>tests/Backend/Synapse/SynapseImportExportCommonTest.php</file>
	</testsuite>

	<testsuite name="backend-exasol">
		<file>tests/Backend/Workspaces/ComponentsWorkspacesTest.php</file>
		<file>tests/Backend/CommonPart1/BucketsTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
	</testsuite>

	<testsuite name="paratest-exasol">
		<directory>tests/Backend/CommonPart1</directory>
		<exclude>tests/Backend/CommonPart1/TimeTravelTest.php</exclude>
		<exclude>tests/Backend/CommonPart1/BucketsTest.php</exclude>
		<!--	excluded test is included in tests/Backend/Exasol/ExasolImportExportCommonTest.php -->
		<exclude>tests/Backend/CommonPart1/ImportExportCommonTest.php</exclude>
		<directory>tests/Backend/CommonPart2</directory>

		<file>tests/Backend/Export/ExportParamsTest.php</file>
		<!--WORKSPACE-->
		<file>tests/Backend/Workspaces/ExasolWorkspacesUnloadTest.php</file>
		<file>tests/Backend/Workspaces/LegacyWorkspacesExasolTest.php</file>
		<file>tests/Backend/Workspaces/MetadataFromExasolWorkspaceTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesExasolTest.php</file>
		<file>tests/Backend/Workspaces/WorkspacesUnloadTest.php</file>
		<!--Exasol override-->
		<directory>tests/Backend/Exasol</directory>
	</testsuite>

	<testsuite name="paratest-teradata-part-1">

		<directory>tests/Backend/CommonPart1</directory>
		<exclude>tests/Backend/CommonPart1/TimeTravelTest.php</exclude>
		<!--		TD does not support TWC-->
		<exclude>tests/Backend/CommonPart1/TableWithConfigurationLoadFromWorkspaceTest.php</exclude>
		<exclude>tests/Backend/CommonPart1/TableWithConfigurationLoadTest.php</exclude>
		<exclude>tests/Backend/CommonPart1/CreateTableWithConfigurationTest.php</exclude>
		<exclude>tests/Backend/CommonPart1/MigrateTableWithConfigurationTest.php</exclude>
	</testsuite>

	<testsuite name="paratest-teradata-part-2">
		<directory>tests/Backend/CommonPart2</directory>

		<!--BUCKET-->
		<file>tests/Backend/Export/ExportParamsTest.php</file>

		<directory>tests/Backend/Teradata</directory>
		<!--WORKSPACE-->
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/TeradataWorkspacesUnloadTest.php</file>

<!--		External buckets-->
		<file>tests/Backend/ExternalBuckets/TeradataRegisterBucketTest.php</file>
	</testsuite>

	<testsuite name="paratest-bigquery">

		<directory>tests/Backend/CommonPart1</directory>
		<!--		BQ does not support TWC-->
		<exclude>tests/Backend/CommonPart1/CreateTableWithConfigurationTest.php</exclude>
		<exclude>tests/Backend/CommonPart1/MigrateTableWithConfigurationTest.php</exclude>
		<exclude>tests/Backend/CommonPart1/RegisterBucketTest.php</exclude>

		<!--		BQ does not support external buckets yet-->
		<exclude>tests/Backend/CommonPart1/RegisterBucketTest.php</exclude>

		<directory>tests/Backend/CommonPart2</directory>
		<!--		requires add/delete column-->
		<exclude>tests/Backend/CommonPart2/SimpleAliasTest.php</exclude>

		<directory>tests/Backend/Bigquery</directory>
		<file>tests/Backend/Export/ExportParamsTest.php</file>
		<!--		Workspaces-->
		<file>tests/Backend/Workspaces/WorkspacesTest.php</file>
		<file>tests/Backend/Workspaces/BigqueryWorkspacesUnloadTest.php</file>
	</testsuite>
	<testsuite name="paratest-sox-snowflake">
		<directory>tests/Backend/SOX</directory>
		<exclude>tests/Backend/SOX/SOXCommonTest.php</exclude>
		<exclude>tests/Backend/SOX/MergeRequestsTest.php</exclude>
		<exclude>tests/Backend/SOX/SOXWorkspaceTestCase.php</exclude>
		<file>tests/Backend/CommonPart1/BucketsTest.php</file>
		<file>tests/Common/MetadataTest.php</file>
	</testsuite>
	<testsuite name="sync-sox-snowflake">
		<file>tests/Backend/SOX/SOXCommonTest.php</file>
		<file>tests/Backend/SOX/MergeRequestsTest.php</file>
		<file>tests/Backend/SOX/SOXWorkspaceTestCase.php</file>
	</testsuite>
	<testsuite name="unit">
		<directory>tests-unit</directory>
	</testsuite>
</testsuites>
</phpunit>
