name: Build

on:
  push:
    branches-ignore:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions:
          - '8.2'
          - '8.3'
        include:
          - php-versions: "8.2"
            composer-options: "--ignore-platform-req=ext-pdo_pgsql --ignore-platform-req=ext-odbc"
            experimental: true
          - php-versions: "8.3"
            composer-options: "--ignore-platform-req=ext-pdo_pgsql --ignore-platform-req=ext-odbc"
            experimental: true
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      -
        name: Install dependencies
        run: composer install ${{ matrix.composer-options }}
      -
        name: Tests
        run: composer ci
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Build docker image
        env:
          DRIVER_DOWNLOADS_ACCESS_KEY_ID: ${{ secrets.DRIVER_DOWNLOADS_ACCESS_KEY_ID }}
          DRIVER_DOWNLOADS_SECRET_ACCESS_KEY: ${{ secrets.DRIVER_DOWNLOADS_SECRET_ACCESS_KEY }}
        run: |
          docker compose build tests
